<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
		<link rel="stylesheet" type="text/css" href="about.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	</head>
	<style type="text/css"></style>

	<body>
		<div class="company">
			<h2>北京好多车友网络科技有限公司</h2>
			<section>
				<p class="cfrist">
					<span class="blod">好多车友·车友交互媒体</span>，是中国汽车运动领域新兴媒体，以移动端为主要载体。 通过线上趣味图文、创意视频等精致内容现，线下对汽车运动直观的体验与参与，推动汽车运动大众化、全民化、娱乐化，将汽车运动文化中<span class="blod">“刺激”</span><span class="blod">“活力”</span><span class="blod">“激情”</span>的精神推广出去，形成一种专注的、挑战的、不断突破的生活态度、生活方式与生活理念。
				</p>
				<p class="cfrist">
					平台现有直接覆盖用户45万+，其他渠道间接覆盖人群100万+（含第三方平台及战略合作方），用户覆盖全国多个省市（除西藏外），其中包括北京、上海、广东、深圳、陕西、山东、河南、河北、江苏等为主要分布区域。

				</p>
				<p class="cfrist">
					用户特征：精准性高 用户特征明显 互动性强 转化率高。
				</p>
			</section>
		</div>
	</body>

</html>