html,body {
	width: 100%;
	height: 100%;
}
.loading {
	width: 100%;
	height: 100%;
	background: url(../image/home-bg.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.load-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
	-webkit-transform: translate(-50%,-50%);
	color: white;
	font-weight: bold;
}
.home {
	display: none;
	width: 100%;
	height: 100%;
	background: url(../image/home-bg.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.homebg {
	width: 100%;
	height: 100%;
	background: url(../image/yellow.png) no-repeat;
	background-size: 100% 100%;
}
.zkc {
	margin-top: 78px;
}
.start {
	width: 185px;
	margin: 87.5px  0 56px;
}
/*游戏页面*/
.game {
	display: none;
	width: 100%;
	height: 100%;
	background:black;
	overflow: hidden;
	position: relative;
}
#canva1,#canva2 {
	float: left;
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.stopimg,.playimg {
	position: absolute;
	right: 21px;
	top: 12px;
	z-index: 999;
}
.playimg {
	display: none;
}
.countdown {
	display: none;
	width: 126px;
	height: 126px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	text-align: center;
	line-height: 126px;
	font-size: 50px;
	color: #101010;
	z-index: 333;
	/*text-shadow:#c56616 1px 0 0,#c56616 0 1px 0,#c56616 -1px 0 0,#c56616 0 -1px 0;
	-webkit-text-shadow:#c56616 1px 0 0,#c56616 0 1px 0,#c56616 -1px 0 0,#c56616 0 -1px 0;
	-moz-text-shadow:#c56616 1px 0 0,#c56616 0 1px 0,#c56616 -1px 0 0,#c56616 0 -1px 0;
	*filter: Glow(color=#c56616, strength=1);*/
}
.count3 {
	display: none;
	width: 100%;
	height: 100%;
	background: url(../image/3.png) no-repeat;
	background-size: 100% 100%;
}
.count2 {
	display: none;
	width: 100%;
	height: 100%;
	background: url(../image/2.png) no-repeat;
	background-size: 100% 100%;
}
.count1 {
	display: none;
	width: 100%;
	height: 100%;
	background: url(../image/1.png) no-repeat;
	background-size: 100% 100%;
}
.gameover {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../image/overbg.png) no-repeat;
	background-size: 100% 100%;
	z-index: 2222;
}
.gameover1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../image/overbgup.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.over-logo {
	margin-top: 85px;
}
.kart {
	position: absolute;
	top: 43px;
	right: 78px;
}
.ranking {
	color: #FEE502;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 4px 3px 0px rgba(191,172,0,0.35);
	margin: 50px 0 60px;
}
.mark {
	margin-bottom: 19px;
}
.recordBreak,.norecord {
	display: none;
}
.replay {
	margin-top: 28.5px;
}
.share {
	/*display: none;*/
	background: black;
	opacity: 0.85;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
	z-index: 2224;
}
.share1 {
	margin-right: 30px;
}
.share2 {
	margin: 5px 5px 0 0;
}
.game_introdute {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 12px;
	z-index: 999;
}
.introdute-con {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.introdute-txt {
	margin-top: 155px;
}
.introdute-txt li {
	width: 50%;
	padding: 0 25px;
}
.introdute {
	text-align: left;
	margin: 17.5px 0 60px;
	line-height: 18px;
}
.goodss {
	text-align: left;
	width: 243px;
	margin: 0 auto;
	line-height: 70px;
}
.goods-txt {
	margin-left: 8px;
}
.gamebg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.7;
}
.sure {
	display: inline-block;
	background: #FEE502;
	border-radius: 25px;
	width: 275px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	color: black;
	margin-top: 40px;
}
.ranks {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../image/rankbg.png") no-repeat;
	background-size: 100% 100%;
	z-index: 2223;
}
.ranklogo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.rankMark {
	width: 360px;
	height: 89.5%;
	margin: 0 auto;
	background: url("../image/ranksbg.png") no-repeat;
	background-size: 100% 100%;
	margin-top: 18px;
	text-align: center;
}
.user {
	display: inline-block;
	width: 300px;
	height: 73px;
	background: url("../image/user.png") no-repeat;
	background-size: 100% 100%;
	margin-top: 60px;
	text-align: left;
	line-height: 73px;
}
.user span,.users span {
	float: left;
}
.user .juli ,.users .juli{
	float: right;
	margin-right: 13px;
	color: #7B3E00;
	font-size: 20px;
	font-weight: bold;
}
.mingci {
	width: 33px;
	height: 33px;
	background: url("../image/rankingbg.png") no-repeat;
	background-size: 100% 100%;
	margin-top:20px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	text-align: center;
	color: #B77D25;
	font-size: 15px;
	font-weight: bold;
	line-height: 33px;
}
.ran1{
	width: 35px;
	height: 54px;
	margin-top: 8px;
	background: url("../image/01.png") no-repeat;
	background-size: 100% 100%;
}
.ran2{
	width: 35px;
	height: 54px;
	margin-top: 8px;
	background: url("../image/02.png") no-repeat;
	background-size: 100% 100%;
}
.ran3{
	width: 35px;
	height: 54px;
	margin-top: 8px;
	background: url("../image/03.png") no-repeat;
	background-size: 100% 100%;
}

.hands {
	width: 52px;
	height: 52px;
	background: url("../image/handbg.png") no-repeat;
	background-size: 100% 100%;
	margin-top: 10.5px;
	margin-left: 14px;
	line-height: 0;
}
.hands img {
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin: 3.5px 0 0 3.5px;
}
.nickname {
	margin-left: 12px;
	font-size: 17px;
	color: #7B3E00;
	font-weight: bold;
	width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rules {
	border-top: 1px solid #C68E22;
	border-bottom: 1px solid #C68E22;
	width: 340px;
	margin: 6px auto;
	height: 6px;
	background: #DE9F25;
}
.userall {
	overflow-y: auto;
}
.users {
	display: inline-block;;
	width: 300px;
	height: 73px;
	background: url("../image/xuline.png") no-repeat;
	background-size: 100% 100%;
	text-align: left;
	line-height: 73px;
	margin-bottom: 12px;
}
.blur {
	width: 362px;
	margin-top: -66px;
	margin-left: 6.5px;
}
.replay1 {
	display: inline-block;
	width: 246px;
	height: 60px;
	background: url("../image/replay1.png") no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color: #FBCB39;
	font-size: 24px;
	line-height: 60px;
	bottom: 0px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.stoppage {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.stoppagebg {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.7;
}
.stopbtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 375px;
	height: 205px;
	background: url("../image/yellow1.png") no-repeat;
	background-size: 100% 100%;
	padding: 110px 35px 0 35px;
	box-sizing: border-box;

}
.stopbtn img {
	float: left;
}
.bofang {
	margin:0 77.5px;
}
.sound {
	display: none;
}
.tixingbg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../image/tixingbg.png") no-repeat;
	background-size: 100% 100%;
}
