<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
        <meta content="width=device-width,width=375" name="viewport">
        <link rel="stylesheet" href="../../css/reset.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/layout.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/swiper-3.3.1.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/dropload.css" media="screen" title="no title">
        <title></title>
        <style media="screen"></style>
    </head>
    <body>
        <div class="box">
            <header>
                <nav>
                    <a href="#"><span>视频</span></a>
                    <a href="#"><span>资讯</span></a>
                    <a href="#"><span>活动</span></a>
                    <a href="#"><span>大卡</span></a>
            </header>
            <div class="cnts">
                    <div class="video-up">
                        <div class="swiper-container">
                            <div class="swiper-wrapper"></div>
                            <div class="swiper-pagination"></div>

                        </div>

                    </div>
                    <ul class="video-down"></ul>

                </div>

            </div>

        </div>

    </body>
    <script src="../../js/jquery-2.2.3.min.js" charset="utf-8"></script>
    <script src="../../js/haodcyApp.js" charset="utf-8"></script>
    <script src="../../js/swiper-3.3.0.min.js" charset="utf-8"></script>
    <script src="../../js/dropload.min.js" charset="utf-8"></script>
    <script src="../../js/fit.js" charset="utf-8"></script>

    <script type="text/javascript">


    </script>
<html>
