<div class="commments">
  <div class="comment-count">
    <h4>评论({{count}})</h4>
  </div>
  <ul class="commment-con">
    <li class="clear" *ngFor="let comment of comments">
      <comment-item [comment]="comment"></comment-item>
    </li>
  </ul>
  <div class="mores">
    <a routerLink="/comment" [queryParams]="{target: target, targetId: targetId, withReply: withReply}" class="more">查看更多</a>
  </div>
</div>
<a routerLink="/comment/input" [queryParams]="{target: target, targetId: targetId}" class="comment-edit"></a>
