<div class="header">
  <h3>
    <a (click)="back()" class="back"></a>
    <span>{{target == 'activity'?'全部咨询':'全部评论'}}</span>
  </h3>
</div>
<div class="commments comment-all">
  <ul class="commment-con" [infinite-scroll]="comments" [dataService]="commentService" [pageInfo]="pageInfo">
    <li class="clear" *ngFor="let comment of comments">
      <a routerLink="/comment/input" [queryParams]="{target: target, targetId: targetId, replyToId: comment.id}">
        <comment-item [comment]="comment"></comment-item>
      </a>
    </li>
  </ul>
</div>
<a routerLink="/comment/input" [queryParams]="{target: target, targetId: targetId}" class="comment-edit"></a>
