<div class="header">
  <h3>
    <a (click)="back()" class="back"></a>
    <span>{{target == 'activity'?'全部咨询':'全部评论'}}</span>
  </h3>
</div>
<div class="commments comment-all" [style.height.px]="cntsboxHeight">
  <ul class="commment-con" [infinite-scroll]="comments" [dataService]="commentService" [pageInfo]="pageInfo">
    <li class="clear" *ngFor="let comment of comments">
        <comment-item [comment]="comment"></comment-item>
    </li>
  </ul>
</div>
<a (click)="gotoCommentInput()" class="comment-edit"></a>
