<!--<div *ngIf="messages.length == 0">
    暂无消息
</div>
<div *ngIf="messages.length > 0">
    <div *ngFor="let message of messages" [routerLink]="['/message', message.id]">
        <div><img [src]="message.image" height="200" width="200"></div>
        <div>{{message.title}}</div>
        <div>{{message.desc}}</div>
        <div>{{message.createdTime | date:'yyyy-MM-dd'}}</div>
        <div>是否已读:{{message.read}}</div>
    </div>
</div>-->
<div class="messageboxs" [style.min-height.px]="cntsboxHeight">
	<ul class="messageLists">
		<li class="clear" [routerLink]="['/message',123]">
			<div class="mesList-left fl">
				<img src="../../assets/images/touxiang.png"/>
			</div>
			<div class="mesList-right fl">
				<div class="clear">
					<span class="mesName fl">好多车友</span>
					<span class="fr">14:39</span>
				</div>
				<div class="mescon">
					我的心愿是世界和平
				</div>
			</div>
		</li>

	</ul>
	
</div>

