<div class="header">
	<h3>
      <a routerLink="/my" class="back"></a>
      <span>我的活动</span>
    </h3>
</div>
<div class="activityboxs" [style.height.px]="detailboxHeight">
	<div *ngFor="let activity of activitys" [routerLink]="['/activity', activity.id]" [queryParams]="{from: '/my/activity'}" class="clear">
		<div class="my-activity clear">
			<img class="my-img fl" [src]="activity.image">
			<div class="my-activitymes fl">
			<div class="acti-name">{{activity.name}}</div>
			<div class="acti-tag clear">
				<span class="fl">{{activity.city}}/{{activity.startTime | date:'yyyy-MM-dd'}}</span>
				<span class="fr">{{activity.state | myActivityState}}</span>
			</div>
		</div>
		</div>
		
	</div>
</div>