car2-core/src/main/resources/resources/admin/scripts/activityAdminModule.js
car2-core/src/main/resources/resources/admin/scripts/contraryAdminModule.js
*.js
car2-app/.settings/
car2-core/.settings/
*.project
car2-weixin/.settings/
*.gitignore
*.classpath
car-admin/.settings/
car/.settings/
car2-weixin/LOG_PATH_IS_UNDEFINED/weixin.log
