
<div  ui-view ng-class="{'cnt-height': !globalConfig.enablePullToRefresh}"></div>
<!-- <a href="javascript:void(0)" ng-click="showMenuBox = true" class="deil-menu"></a>
<div ui-view ng-class="{'cnt-height': !globalConfig.enablePullToRefresh}"></div>
<a href="javascript:void(0)" ng-click="showMenuBox = true" class="deil-menu"></a>
<div class="menufix" ng-style="{display:showMenuBox?'block':'none'}" ng-click="showMenuBox = false; showQrcode = false;"></div>
<div class="menuBox" ng-style="{display:showMenuBox?'block':'none'}">
	<ul>
		<li><a ui-sref="app.article.list" ng-click="showMenuBox = false; showQrcode = false;" class="menu-ico1"><i></i>资讯</a></li>
		<li><a ui-sref="app.leader.list" ng-click="showMenuBox = false; showQrcode = false;" class="menu-ico5"><i></i>大咖</a></li>
		<li><a ui-sref="app.participation.list" ng-click="showMenuBox = false; showQrcode = false;" class="menu-ico3"><i></i>活动</a></li>
		<li ng-show="showVideo"><a ui-sref="app.video.list" ng-click="showMenuBox = false; showQrcode = false;" class="menu-ico6"><i></i>视频</a></li>
		<li><a ui-sref="app.my.list" ng-click="showMenuBox = false; showQrcode = false;" class="menu-ico2"><i></i>我的</a></li>
		<li><a href="javacript:void(0)" ng-click="showQrcode = true" class="menu-ico4"><i></i>关注</a></li>
	</ul>
</div>-->
<div class="menuBox1" >
<div class="menuBox1" ng-show="showFooter">
	<ul class="bottomBtn">
		<li ng-show="showVideo">
		<li>
			<a  ng-class="colors=='video'?'btnOn':'no'" ng-click="navBtn('video')"  ui-sref="app.video.list" >
				<i class="menu-ico6"></i>
				<div class="">视频</div>
			</a>
		</li>
		<li>
			<a ng-class="colors=='zixun'?'btnOn':'no'" ng-click="navBtn('zixun')" ui-sref="app.article.list" ng-click="showMenuBox = false; showQrcode = false;" >
				<i class="menu-ico1"></i>
				<div class="">资讯</div>
			</a>
		</li>
		<li>
			<a ng-class="colors=='activity'?'btnOn':'no'"  ng-click="navBtn('activity')" ui-sref="app.participation.list">
				<i class="menu-ico3"></i>
				<div class="">活动</div>
			</a>
		</li>
		<li>
			<a ng-class="colors=='my'?'btnOn':'no'" ng-click="navBtn('my')" ui-sref="app.my.list" >
				<i class="menu-ico2"></i>
				<div class="">我的</div>
			</a>
		</li>
	</ul>
</div>
<div class="guanzhubox" ng-style="{display:showQrcode?'block':'none'}">
	<img src="images/erweima.png" />
	<p>长按识别二维码</p>
</div>
