<div class="box">
  <header *ngIf="showFooter">
    <nav class="clear">
      <div class="fl">
        <a routerLink="/video" routerLinkActive="artnav-on"><span>视频</span></a>
        <a routerLink="/article" routerLinkActive="artnav-on"><span>资讯</span></a>
        <a routerLink="/activity" routerLinkActive="artnav-on"><span>活动</span></a>
        <a routerLink="/leader" routerLinkActive="artnav-on"><span>大咖</span></a>
      </div>
      <div class="fr">
        <a href="#" class="nav-xin"></a>
        <a routerLink="/my" class="nav-me"></a>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
 	<div class="load">
 		<img class="loadImg" src="../assets/images/loading.gif"/>
 	</div>
</div>
