header {
  width:375px;
  height:50px;
  background: black;
  line-height: 50px;
  position: fixed;
  top:0px;
  z-index: 333;
}
nav a {
  font-size: 15px;
  color: rgb(221, 221, 221);
  font-family:" HiraginoSansGB W3[Bold]";

}
nav .fl a,nav .fr a {
  float: left;
}
nav .fl a {
  margin: 0 10px;
}
nav .fr a  {
  width: 35px;
  height:35px;
  margin:0 5px;
}
nav a.artnav-on{
  color: rgb(0, 254, 252);
  background: url("../assets/images/nav-on.png") no-repeat bottom center;
  background-size: 12px 6px;
}
nav .fr {
  margin-top: 5px;
}
.nav-xin {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/nav-xin.png") no-repeat;
  background-size: 100% 100%;

}
.nav-me {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/nav-me.png") no-repeat;
  background-size: 100% 100%;
}
