header {
  width:375px;
  height:50px;
  background: black;
  line-height: 50px;
  position: fixed;
  top:0px;
  z-index: 333;
}
nav a {
  font-size: 15px;
  color: rgb(221, 221, 221);
  font-family:" HiraginoSansGB W3[Bold]";

}
nav .fl a,nav .fr a {
  float: left;
}
nav .fl a {
  margin: 0 10px;
}
nav .fr a  {
  width: 35px;
  height:35px;
  margin:0 5px;
}
nav a.artnav-on{
  color: rgb(0, 254, 252);
  background: url("../assets/images/nav-on.png") no-repeat bottom center;
  background-size: 12px 6px;
}
nav .fr {
  margin-top: 5px;
}
.nav-xin {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/nav-xin.png") no-repeat;
  background-size: 100% 100%;

}
.nav-me {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/nav-me.png") no-repeat;
  background-size: 100% 100%;
}
nav .nav-me.artnav-on {
	background: url("../assets/images/nav-me-hover.png") no-repeat;
  background-size: 100% 100%;
}
.load {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;  
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;  
  display: none;
  background: transparent;
}

.ui-loading-cnt{
	width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0,0,0,.65);
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.ui-loading-bright {
	  width: 37px;
    height: 37px;
    display: block;
    background-image: url(../assets/images/loading_sprite_white.png);
    -webkit-background-size: auto 37px;
    -webkit-animation: am-rotate2 1s steps(12) infinite;
    margin: 18px 0 8px;
}
@-webkit-keyframes am-rotate2 {
	from {
		background-position: 0 0
	}
	to {
		background-position: -444px 0
	}
}