.myslides {
	background: #18212d;
}
.swiper-slide {	
	text-align: center;
}

.swiper-slide .activity-img {
	width:299px;
	height: 225px;	
}
..swiper-slide-next {
	text-align: right;
}
.swiper-slide-prev .activity-img ,.swiper-slide-next .activity-img,.swiper-slide-prev .swiper-txt ,.swiper-slide-next .swiper-txt {
	height: 190px;
	margin-top: 17.5px;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
	width: 12px;
	height: 6px;
	border-radius: 2px;
	background: white;
}
.sponsor {
	width: 75px;
	height: 25px;
	position: absolute;
	bottom: 7px;
	right: 12px;
	opacity: 0.6;
}
.swiper-txt {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 299px;
	height: 225px;
	background: #000000;
	opacity: 0.25;
	color: white;
}
.activitys-mes {
	width: 100%;
	position: absolute;
	top:50%;	
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
	color: white;
	
}
.activity-tit {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bolder;
}
.activity-atime {
	font-size: 14px;
	display: inline-block;	
	word-break: break-word;
}

