<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
        <link rel="stylesheet" href="css/datepicker.css" media="screen" title="no title">
        <link rel="stylesheet" href="css/sign.css" media="screen" title="no title">
        <title></title>
        <style media="screen">
            * {
                margin: 0;
                padding: 0;
            }

        </style>
    </head>
    <body>
        <ul class="login-box">
            <li>
                <label for="">姓名:</label>
                <input class="login-item sign-name" type="text" name="name" value="">
                <span class="full">姓名不能为空</span>
            </li>
            <li>
                <label for="">单位:</label>
                <input  class="login-item sign-danwei" type="text" name="name" value="">
                <span class="full">单位不能为空</span>
            </li>
            <li>
                <label for="">职位:</label>
                <input  class="login-item sign-zhiwei" type="text" name="name" value="">
            </li>
            <li>
                <label for="">电话:</label>
                <input  class="login-item sign-tel" type="tel" name="name" value="">
                <div class="tel-true">请输入正确的手机号</div>
            </li>
            <li class="stay">
                <label for="">是否安排住宿:</label>
                <input class="plan" type="radio" name="name" value="" >是
                <input class=plan1 type="radio" name="name" value="" checked="true">否
            </li>
            <div class="lives">
                <li class="">
                    <label for="">入住时间:</label>
                    <input id=dpd1 type="text" name="name" value="">

                </li>
                <li>
                    <label for="">离开时间:</label>
                    <input id=dpd2 type="text" name="name" value="">
                </li>
            </div>

            <li>
                <label for="">邀请人:</label>
                <input  class="login-item invite" type="text" name="name" value="">
            </li>
            <li>
                <label for="">拟参加论坛:</label>
                <input type="checkbox" name="luntan" value="A">A
                <input type="checkbox" name="luntan" value="B">B
                <input type="checkbox" name="luntan" value="C">C
                <input type="checkbox" name="luntan" value="D">D
            </li>
            <li class="login-sign">
                <span class="signs">报名</span>
            </li>

        </ul>

    </body>
    <script src="js/jquery-2.2.3.min.js" charset="utf-8"></script>
    <script src="js/bootstrap-datepicker.js" charset="utf-8"></script>
    <script src="js/sign.js" charset="utf-8"></script>

<html>
