<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">大咖信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="leaderForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			<div class="form-group">
				<label class="control-label col-lg-3">大咖名称:</label>
				<div class="col-lg-6">
					<input name="nickname" ng-model="leader.nickname" type="text" class="form-control input-sm" placeholder="大咖名称">
				</div>
			</div>
			<div class="form-group">
                <label class="control-label col-lg-3">大咖头像:</label>
                <div class="col-lg-4">
                    <div class="fileinput-button" style="border: 1px solid #abcdef; width: 100px; height: 100px;" >
                        <img ng-src="{{leader.headimgurl}}" width="100px;", height="100px;">
                        <input type="file" id="file2" name="file2" pz-uploader action="doUpload2(files)">
                    </div>
                </div>
            </div>
			<div class="form-group">
				<label class="control-label col-lg-3">大咖介绍:</label>
				<div class="col-lg-9">
					<textarea name="intro" ng-model="leader.intro" rows="10" cols="70"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">置顶:</label>
				<div class="col-lg-3">
					<div class="custom-checkbox todo-checkbox">
						<input id="topCheck" ng-model="leader.top" ng-checked="leader.top" type="checkbox">
						<label for="topCheck" style="margin-top: 4px;"></label>
					</div>
				</div>
				<label class="control-label col-lg-2">置顶顺序号:</label>
                <div class="col-lg-2">
                    <input name="topIndex" class="form-control input-sm" ng-model="leader.topIndex" type="number">
                </div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">置顶图:</label>
				<div class="col-lg-4">
					<div class="fileinput-button" style="border: 1px solid #abcdef; width: 160px; height: 90px;" >
						<img ng-src="{{leader.topImage}}" width="160px;", height="90px;">
						<input type="file" id="file1" name="file1" pz-uploader action="doUpload(files)">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">审核状态:</label>
				<div class="col-lg-3">
					<select class="form-control input-sm" ng-model="leader.status" ng-options="status.value as status.name for status in statuses"></select>
				</div>
			</div>
			<div class="text-right m-top-md">
				<button ng-click="save(leader)" class="btn btn-success btn-sm" ng-disabled="leaderForm.$invalid"><i class="fa fa-save m-right-xs"></i>保存</button>
			</div>
		</form>
	</div>
	</div>
</div>