<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">视频信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="videoForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			<div class="form-group"  ng-class="videoForm.name.$invalid && videoForm.name.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3">视频名称:</label>
				<div class="col-lg-6">
					<input name="name" ng-model="video.name" type="text" class="form-control input-sm" placeholder="视频名称" required>
					<label class="control-label" ng-show="videoForm.name.$invalid && videoForm.name.$dirty">视频名称不能为空</label>
				</div>
			</div>
			<div class="form-group">
                <label class="control-label col-lg-3">直播回放:</label>
                <div class="col-lg-1">
                    <div class="custom-checkbox todo-checkbox">
                        <input id="selection3" ng-model="video.replay" ng-checked="video.replay" type="checkbox">
                        <label for="selection3" style="margin-top: 4px;"></label>
                    </div>
                </div>
                <div ng-show="video.replay">
                <label class="control-label col-lg-2">回放直播:</label>
                <div class="col-lg-6">
                  <ui-select ng-model="video.replayId" theme="bootstrap">
                    <ui-select-match placeholder="可以输入直播名称来查找">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in shows | filter: $select.search">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                </div>
            </div>
			<div class="form-group"  ng-class="videoForm.url.$invalid && videoForm.url.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3">视频链接(腾讯):</label>
                <div class="col-lg-6">
                    <input name="url" ng-model="video.url" type="text" class="form-control input-sm" placeholder="视频链接(腾讯)" required>
                    <label class="control-label" ng-show="videoForm.url.$invalid && videoForm.url.$dirty">视频链接(腾讯)不能为空</label>
                </div>
            </div>
            <div class="form-group"  ng-class="videoForm.url2.$invalid && videoForm.url2.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3">视频链接(阿里):</label>
                <div class="col-lg-6">
                    <input name="url2" ng-model="video.url2" type="text" class="form-control input-sm" placeholder="视频链接(阿里)" required>
                    <label class="control-label" ng-show="videoForm.url2.$invalid && videoForm.url2.$dirty">视频链接(阿里)不能为空</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">列表图片:</label>
                <div class="col-lg-6">
                    <div class="fileinput-button" style="border: 1px solid #abcdef; width: 200px; height: 150px;">
                        <img ng-src="{{video.image}}" width="200px" height="150px">
                        <input type="file" id="file1" name="file1" pz-uploader action="doUpload(files)">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">发布:</label>
                <div class="col-lg-1">
                    <div class="custom-checkbox todo-checkbox">
                        <input id="selection" ng-model="video.enable" ng-checked="video.enable" type="checkbox">
                        <label for="selection" style="margin-top: 4px;"></label>
                    </div>
                </div>
                <label class="control-label col-lg-1">置顶:</label>
                <div class="col-lg-1">
                    <div class="custom-checkbox todo-checkbox">
                        <input id="selection94" ng-model="video.top" ng-checked="video.top" type="checkbox">
                        <label for="selection94" style="margin-top: 4px;"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">浏览量:</label>
                <div class="col-lg-2">
                    <input name="readCount" ng-model="video.viewCount" type="number" class="form-control input-sm" placeholder="浏览量" required readonly="readonly">
                    <label class="control-label" ng-show="videoForm.viewCount.$invalid && videoForm.viewCount.$dirty">浏览量不能为空</label>
                </div>
                <label class="control-label col-lg-2">浏览量加成:</label>
                <div class="col-lg-2">
                    <input name="readCountPlus" ng-model="video.viewCountPlus" type="number" class="form-control input-sm" placeholder="阅读量加成" required>
                    <label class="control-label" ng-show="videoForm.viewCountPlus.$invalid && videoForm.viewCountPlus.$dirty">阅读量加成不能为空</label>
                </div>
            </div>
            <div class="form-group"  ng-class="videoForm.length.$invalid && videoForm.length.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3">视频时长:</label>
                <div class="col-lg-6">
                    <input name="length" ng-model="video.length" type="text" class="form-control input-sm" placeholder="视频时长" required>
                    <label class="control-label" ng-show="videoForm.length.$invalid && videoForm.length.$dirty">视频时长不能为空</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">视频提供者:</label>
                <div class="col-lg-3">
                    <select required="required" class="form-control input-sm" ng-model="video.sponsorId" ng-options="sponsor.id as sponsor.name for sponsor in sponsors"></select>
                </div>
            </div>
			<div class="text-right m-top-md">
				<button ng-click="save(video)" class="btn btn-success btn-sm" ng-disabled="videoForm.$invalid"><i class="fa fa-save m-right-xs"></i>保存</button>
			</div>
		</form>
	</div>
	</div>
</div>