<style>
<!--
.hd-more i{
    height: 20px;
    width: 20px;
}
-->
</style>
<div class="headBox">
	<div class="head">
		<a ui-sref="app.participation.list" class="back"></a>
		<h2>{{contrary.name}}</h2>
	</div>
</div>
<div class="huodtpCnt noback-bg">
	<div class="noback-img">
		<img ng-src="{{contrary.image}}"  />
	</div>
	<h2 class="huod-title"><span>活动说明</span></h2>
	<div class="xs-box" ng-class="{'xs-auto': contentExtend}">
		<div class="xs-txtCnt" style="padding: 0px 10px 0px 10px">
			<div class="xs-txtover" ng-bind-html="desc | toHtml"></div>
			<div class="hd-more" ng-style="{display: showExtender?'block':'none'}" ng-click="extendDesc()">
				<i ng-style="{'background': contentExtend?'url(images/more2.png) no-repeat':'url(images/more.png) no-repeat', 'background-size': '100%'}"></i>
			</div>
		</div>
	</div>
	<div class="huodtpCntbox">
		<div class="huodtp-div huodtphf">
			<h2>红方观点 ({{contrary.redCount}}票)</h2>
			<div class="huodtp-txt">
				<label>观点：</label>
				<p>{{contrary.red}}</p>
			</div>
			<ul class="huodtp-lsit">
				<li ng-repeat="participator in redParticipators">
					<img ng-src="{{participator.headimgurl}}"/>
					<p>{{participator.content}}</p>
				</li>
			</ul>
			<div class="huodtpBtn" ng-hide="contrary.finish">
				<div class="huodtpBtnsty" style="left: 0px">
				    <a ng-click="clickSignButton(true)">{{contrary.redButton}}</a>
				</div>
			</div>
		</div>
		<div class="huodtp-div huodtphf huodtplf">
			<h2>蓝方观点 ({{contrary.blueCount}}票)</h2>
			<div class="huodtp-txt">
				<label>观点：</label>
				<p>{{contrary.blue}}</p>
			</div>
			<ul class="huodtp-lsit">
				<li ng-repeat="participator in blueParticipators">
					<img ng-src="{{participator.headimgurl}}"/>
					<p>{{participator.content}}</p>
				</li>
			</ul>
			<div class="huodtpBtn" ng-hide="contrary.finish">
				<div class="huodtpBtnsty">
				    <a ng-click="clickSignButton(false)">{{contrary.blueButton}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--弹窗-->
<div class="toupiaolayer" ng-style="{display: showVoteDiv?'block':'none'}">
	<div class="toupiaoflex" ng-click="showVoteDiv = false"></div>
	<div class="toupiaotan hdtoupai_cnt">
		<h2 class="hdtoupai_h2">{{currentButton}}</h2>
		<div class="hd-baomingBox">
			<textarea ng-model="participator.content" maxlength="70" placeholder="请在此说出你的观点"></textarea>
			<span>{{70-participator.content.length}}</span>
		</div>
		<div class="toupiaotan-btn">
			<a ng-click="enroll(participator)" class="active">投出一票</a>
			<a ng-click="showVoteDiv = false" class="toupiaotan-qx">朕再想想</a>
		</div>
	</div>
</div>
<!--弹窗 end-->