.video-title {
	width: 329px;
	display: inline-block;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap; 	
 	margin-left: 22px;
 	text-align: center;
}
.videolist {
	position: relative;
	width: 375px;
	height: 225px;
}
.videolist img{
	width: 100%;
	height: 100%;
}
.videotxt {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: white;
}
.videotit {
	font-size: 18px;
	font-weight: bold;
	word-break: break-word;
	margin-bottom: 19px;
}
.videobg {
	position: absolute;
	top: 0;
	left: 0;
	width: 375px;
	height: 225px;
	background: #000000;
	opacity: 0.25;
}
.videostyle {
	
	font-size: 15px;
}
.video-descom {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background:rgb(27,50,68) ;
}
.video-descom section {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
.video-descs {
	color: white;
	padding: 12px 12px 0;
	background: url(../../assets/images/txt-btn.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 8px;
}

.video-destit {
	border-left: 3px solid white;
	padding: 2.5px 0 2.5px 12px;
	font-size: 15px;
}
.video-desc {
	padding: 19.5px;
	font-size: 14px;
	line-height: 21px;
	word-break: break-word;
}
.video-com .commments {
	background: url(../../assets/images/txt-btn.png) no-repeat;
	background-size: 100% 100%;
}
.zhibo {
    position: relative;    
    background: #000000;
}


.zhibo-txt {
    position: absolute;
    padding:0 12px 12px;
    bottom: 0;
    font-size: 14px;
    color: #00FEFC;
	width: 100%;
}
.zhibo-txts {
	text-align: left;
	position: absolute;
    padding:0 12px 12px;
    bottom: 35px;
    font-size: 14px;
    color: #00FEFC;
	width: 100%;
}
.videotime-img {
	width: 13px;
	margin-top: 2.5px;
	margin-right: 5px;
}
.zhibo-tit {
    color: white;
    margin-left: 20px;
}
.videoTime-txt {
    margin: 12px 0 24px;
    height: 22px;
    line-height: 22px;
    position: relative;
}
.time-img {
    width: 22px;
    height: 22px;
}
.video-time {
    display: inline-block;
    line-height: 22px;
    position: absolute;
    width: 100%;
}
.zhibo-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   	overflow: hidden;
}
.zhibo-icon img {
	width: 100%;
	height: 100%;
}
.video-name {
    position:relative;
    height:30px;

}
.video-name1 {
    position: absolute;
    line-height: 30px;
    margin-left: 12px;
}
/*预告*/
.yugao-bg {
	width: 375px;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	opacity: 0.25;
}
.yugao {
	width: 375px;
	height: 250px;
}
.yugao img {
	width: 100%;
	height: 100%;
}
.yugao-nav a {
	display: inline-block;
	width: 187.5px;
	height: 40px;
	background: url(../../assets/images/artnav.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	line-height: 40px;
	font-size: 15px;
	color: #8FAFCA;
	text-align: center;
}
.yugao-nav a.actived {
	display: inline-block;
	color: white;
	background: url(assets/images/xuanze.png) no-repeat;
	background-size: 100% 100%;
}
.zbjianjie {
	padding: 0px 12px 0;	
	word-break: break-all;
	margin-top: 19px;
	color: white;
}

.zbjiaoliu {
	display: none;
	position: relative;
}
.comwu {
	display: none;
	color: #959595;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.pages {
	position: fixed;
	bottom: 0;
	width: 1375px;
	background: rgb(23,31,42);
	color: #536579;
	padding: 21px 0;
	font-weight: bold;
	text-align: center;
}
.pages1 {
	display: inline-block;
}
.page,.page1{
	height: 22px;
	line-height: 22px;
	display: inline-block;	
	border: 1px solid #536579;
	border-radius: 5px;
	font-size: 18px;
	float: left;
	text-align: center;
}
.page1 {
	width: 60px;
}
.page {	
	width: 40px;
}
.pagess {
	width: 240px;
	overflow: hidden;
	
}
.page,.prev {
	margin-right: 8px;
}
.page1 {	
	font-size: 14px;		
}
.pagescon span.active {
	color: white;
	border: 1px solid white;
}

