<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/article.css" />
	</head>
	<body>
		<img class="shareimg" src="" alt="">
		<div class="boxs">
			<header>
				<nav class="clear">
					<div class="fl">
						<a href="http://cdn4dev.haoduocheyou.com/#/video"><span>视频</span></a>
						<a class="artnav-on" href="http://cdn4dev.haoduocheyou.com/#/article"><span>资讯</span></a>
						<a href="http://cdn4dev.haoduocheyou.com/#/activity"><span>活动</span></a>
						<a href="http://cdn4dev.haoduocheyou.com/#/leader"><span>大咖</span></a>
					</div>
					<div class="fr">
						<a class="nav-me"></a>
					</div>
				</nav>
			</header>
			<div class="artDetail">
				<div class="Detail-up">
					<h1 class="article-title"></h1>
					<div class="detail-tag">
						<span class="detail-tag1"></span>
						<span class="arttime"></span>
						<span class="author"></span>
					</div>
				</div>
				<div class="detail-Img">
					<img src="" alt="" />
				</div>
				<div class="Detail-down">
					<div class="artiDetail-con"></div>
				</div>
			</div>
			<div class="comment">
				<div class="comment-count">
				<h4>评论({{count}})</h4>
			</div>
				<div class="comments"></div>
				<div class="more">
					<a href="">查看更多</a>
				</div>
			</div>
			<div class="guanzhu clear">
				<div class="guanzhu-logo fl">
					<div class="fouce-logo">
						<img src="images/logo.png" />
					</div>
					<div class="fouce-imgtxt">
						<img src="images/guanzhudes.png" />
					</div>
				</div>
				<div class="guanzhu-txt">
					<span>立即关注</span>
				</div>

			</div>
			<div class="chatcode">
				<div class="chatbg"></div>
				<div class="chat">
					<img src="images/chat.png" />
				</div>
			</div>
		</div>

	</body>
	<script src="js/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/article.js" type="text/javascript" charset="utf-8"></script>

</html>
