<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/leader.css" />
	</head>

	<body>
		<div class="boxs">
			<header>
				<nav class="clear">
					<div class="fl">
						<a href="http://cdn4dev.haoduocheyou.com/#/video"><span>视频</span></a>
						<a href="http://cdn4dev.haoduocheyou.com/#/article"><span>资讯</span></a>
						<a href="http://cdn4dev.haoduocheyou.com/#/activity"><span>活动</span></a>
						<a class="artnav-on" href="http://cdn4dev.haoduocheyou.com/#/leader"><span>大咖</span></a>
					</div>
					<div class="fr">
						<a class="nav-me"></a>
					</div>
				</nav>
			</header>
			<div class="daka-detail detai-cnts">
				<div class="dakade-tit">
					<div class="dakade-txt">
						<div class="dakade-Img fl">
							<img src=""/>
						</div>
						<div class="dakade-right fl">
							<div class="dakade-names">
								<span class="dakade-name"></span>
								<span class="dakalv"></span>
							</div>
							<div class="dakade-slogan"></div>
							<div class="dakde-tags"></div>
						</div>
					</div>
				</div>
				<div class="daka-detaicon">
					<h3 class="daka-jianjie">个人简介</h3>
					<div class="daka-contxt"></div>
				</div>
			</div>

			<div class="guanzhu clear">
				<div class="guanzhu-logo fl">
					<div class="fouce-logo">
						<img src="images/logo.png" />
					</div>
					<div class="fouce-imgtxt">
						<img src="images/guanzhudes.png" />
					</div>
				</div>
				<div class="guanzhu-txt">
					<span>立即关注</span>
				</div>

			</div>
			<div class="chatcode">
				<div class="chatbg"></div>
				<div class="chat">
					<img src="images/chat.png" />
				</div>
			</div>
		</div>

	</body>
	<script src="js/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/leader.js" type="text/javascript" charset="utf-8"></script>

</html>