<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/videos.css" />
	</head>
	<body>
		<div class="boxs">
			<div class="video-header">			
        		<a class="back"></a>
        		<span class="title"></span>	
			</div>
		<div class="detai-cnts1">
			<div class="zhibo">
				 <div class="zhiiboa-video">
				 	<video width="375" height="250" src="" controls="controls"></video>
				 </div> 
				<div class="zhibo-txts">
					<div class="video-name">
						<span class="zhibo-icon">
			            	 <img src=""> 
			            </span>
						<span class="video-name1"></span>
					</div>
				</div>
			</div>
			<div class="video-descom">
				<div class="video-descs">
					<h3 class="video-destit">简介</h3>
					 <div class="video-desc" ></div> 
				</div>
				<div class="comment">
					<div class="comments"></div>
					<div class="more">
					<a href="">查看更多</a>
				</div>
				</div>
				
			</div>
		</div>
		</div>
		<div class="guanzhu clear">
			<div class="guanzhu-logo fl">
				<div class="fouce-logo">
					<img src="images/logo.png"/>
				</div>
				<div class="fouce-imgtxt">
					<img src="images/guanzhudes.png"/>
				</div>
			</div>
			<div class="guanzhu-txt">
				<span>立即关注</span>
			</div>
			
		</div>
		<div class="chatcode">
			<div class="chatbg"></div>
		<div class="chat">
			<img src="images/chat.png"/>
		</div>
		</div>

	</body>
	<script src="js/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/videos.js" type="text/javascript" charset="utf-8"></script>

</html>
