<div class="active-conmes" touch-listener>
	<div class="header">
		<h3>
      <a (click)="goBack()" class="back"></a>
      <span>线下活动</span>
    </h3>
	</div>
	<div class="boxs" [style.height.px]="detailboxHeight">
		<div class="detai-cntss">
			<div class="actDetail-mes">
				<div class="actDetail-tit">{{activity?.name}}</div>
				<div class="actDetail-con" [innerHtml]="activity?.desc"></div>
			</div>
			<div class="actDetail-imgs ">
				<div class="actDetail-imgsCon clear" [style.width.px]="imgDivWidth">
					<div *ngFor="let image of activity?.images;let i = index;" class="actDetail-img" (click)="showchange(i)">
						<img  [src]="image">
					</div>
				</div>
			</div>
			<div class="downs">
				<span class="con-downs" [ngStyle]="{'display': pulls}" (click)="change(true)"></span>
				<span class="con-ups" [ngStyle]="{'display': pushs}" (click)="changeback(true)"></span>
			</div>
		</div>
		<div class="activity-zhuban">
			<div class="zhuban-tit clear">
				<span class="zhuban-icon fl">
				<img src="../../assets/images/liwu.png"/>
			</span>

				<div class="zhuban-mes fl">
					<div class="clear">
						<span class="zhuban-mes1 fl">活动信息</span>
						<span class="zhuban-num fr">报名人数：{{activity?.signCount + activity?.signCountPlus}}</span>
					</div>
				</div>
			</div>
			<div class="zhuban">
				<span class="zhuban-icon">
				<img src="../../assets/images/zhuban-add.png"/>
			</span>
				<span class="zhuban-txt">主办方：
				<span class="zhuaban-name" (click)="gotoLeaderDetail()">{{activity?.sponsorName}}</span>
				</span>
			</div>
			<div class="zhuban">
				<span class="zhuban-icon">
				<img src="../../assets/images/time.png"/>
			</span>
				<span class="zhuban-txt">
				活动时间：<span class="zhuban-item">{{activity?.startTime | date:'yyyy-MM-dd'}}</span>
				</span>
			</div>
			<div class="zhuban">
				<span class="zhuban-icon">
					<img src="../../assets/images/adds-zhu.png"/>
			</span>
				<span class="zhuban-txt">活动地点：
					<span class="zhuban-item">{{((activity?.province)?(activity?.province):"") + (activity?.city)+ (activity?.address)}}
        </span>
				</span>
			</div>
			<div class="zhuban">
				<span class="zhuban-icon">

				<img src="../../assets/images/money.png"/>
			</span>
				<span class="zhuban-txt">
					活动费用：
					<span class="zhuban-item">
          {{activity?.price == 0?'免费':activity?.price | currency:'JPY':true:'1.2-2'}}
				</span>
				</span>
			</div>

		</div>

		<comment-list target="activity" [targetId]="activity?.id" [withReply]="true" styleType="activity"></comment-list>

		<div class="signs clear">
			<div class="steam fl" (click)="displayContactDiv(true)">
				<img class="fl" src="../../assets/images/steam.png" />
				<span class="steam-txt fl">客服</span>
			</div>
			<div class="sign fl">
				<a (click)="sign()" [ngClass]="{'activity-ends': signText != '立即报名'}">{{signText}}</a>
			</div>
		</div>

	</div>
</div>

<div class="telss" [ngStyle]="{'display': contactDivState}">

	<div class="telbg" (click)="displayContactDiv(false)"></div>
	<div class="tel-mesbg">
		<p>是否立即拨打电话进行咨询？</p>
		<div class="kefu-tel">
			<img class="kefu-telimg" [src]="activity?.waiterInfo?.image" />
			<span class="kefu-mes">{{activity?.waiterInfo?.name}}：{{activity?.waiterInfo?.phone}}</span>
		</div>
		<div class="caozuo">
			<a href="tel:{{activity?.waiterInfo?.phone}}"><img class="boda" src="../../assets/images/boda.png" /></a>
			<img (click)="displayContactDiv(false)" class="guaduan" src="../../assets/images/guaduan.png" />
		</div>
	</div>
</div>
<div class="detail-swiperbg" [ngStyle]="{'display': swipers}" (click)="hidechange()"></div>
<div class="detail-swiper">
	<ks-swiper-container [options]="swiperOptions" *ngIf="swipers == 'block'">
		<ks-swiper-slide *ngFor="let image of activity?.images;" >
			<img class="bigImg" (click)="hidechange()" [src]="image">
		</ks-swiper-slide>
	</ks-swiper-container>
</div>
