<div class="headBox">
	<div class="head">
		<a back-button="app.my.list" class="back"></a>
		<h2>关于我们</h2>
	</div>
</div>
<div class="aboutlogo">
	<img src="images/about-01.png"  />
</div>
<div class="about-foot">
	<ul class="about-ul">
		<li>
			<a href="tel:18629667322">
				<img src="images/about-02.png"  />
				<p>意见反馈</p>
			</a>
		</li>
		<li>
			<a href="tel:18629667322">
				<img src="images/about-03.png"  />
				<p><a>商务合作</a></p>
			</a>
		</li>
		<li>
			<a ng-click="downloadApp()">
				<img src="images/about-04.png"  />
				<p>APP下载</p>
			</a>
		</li>
		<li>
			<a ui-sref="app.agreement">
				<img src="images/about-05.png"  />
				<p>用户协议</p>
			</a>
		</li>
	</ul>
	<div>
		<p>北京好多车友网络科技有限公司</p>
		<p>Copyright @ 2016 HDCY. All Rights Reserved</p>
	</div>
</div>