.active-conmes {
	background: #F3F3F3;
	margin-top: 50px;
}
.detai-cntss,.activity-zhuban {
	background: white;
}
.activity-zhuban {
	margin: 8px 0;
	padding: 0 12px 12px;
}
.actDetail-mes {
	padding: 0 12px;
}
.actDetail-tit {
	padding: 12.5px 0;
	text-align: center;
	border-bottom: 1px solid rgb(155,155,155);
	margin-bottom: 10px;
	font-size: 16px;
}
.actDetail-con {
	height: 108px;
	overflow: hidden;
}
.actDetail-imgs {
	/*display: none;*/
	padding: 18px 0;
	overflow-x: auto;
}
.actDetail-imgsCon {
	margin-left: 4px;
}
.actDetail-img {
	width: 100px;
	height: 80px;
	float: left;
	margin-left: 8px;
}
.actDetail-img img{
	width: 100%;
	height: 100%;
}
.downs {
	text-align: center;
	padding: 0 0 10px;
}
.con-downs {
	display: inline-block;
	width: 22px;
	height: 12px;
	background: url(../images/dow.png) no-repeat;
	background-size: 100% 100%;
}
.con-ups {
	display: none;
	width: 22px;
	height: 12px;
	background: url(../images/up.png) no-repeat;
	background-size: 100% 100%;
}
.zhuban-tit {
	padding: 13px 0;
	border-bottom: 1px solid #9B9B9B;
	position: relative;
}
.zhuban-icon {
	display: inline-block;
	width: 22px;
}

.zhuban-icon img {
	width: 100%;
	height: 100%;
}
.zhuban-mes {
	width: 321px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left:30px;
	line-height: 22px;
}
.zhuban-mes1 {
	font-size: 16px;
	color: #494949;
	font-weight: bold;
}
.zhuban-num {
	font-size: 12px;
	color: #9B9B9B;
}
.zhuban {
	position: relative;
	font-size: 14px;
	color: #9B9B9B;
	height: 22px;
	margin-top: 12px;
}
.zhuban-txt {
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.zhuaban-name {
	color: #6593c5;
}
.zhuban-item {
	color: #494949;
}
.signs {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.steam {
	width: 24px;
	background-color: #dddddd;
	padding: 0 13px;
	height: 40px;
}
.steam img {
	width: 24px;
}
.steam-txt {
	font-size: 11px;
	color: #303030;
}
.comment {  
  word-break: break-all;
}
.comment-count {  
  padding: 10px 12px; 
  background: white;
}
.comment-count h5 {	  
  font-size: 14px; 
  color: #494949;
  position: relative;
  height: 22px;
}
.xinxi {
	width: 22px;
	margin-right: 8px;
}
.comments {
	padding: 16px 12px 0;
}
.comment-up {
	color: #9B9B9B;
	font-size: 11px;
	font-weight: bold;
}
.commhand {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 5px;
}
.conmmentList ,.replyList {
	margin-bottom: 20px;
}
.replyImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 5px;
}
.commhand img ,.replyImg img {
	width: 100%;
	height: 100%;
}
.comment-right {
	font-size: 11px;
}
.replay-right {
	text-align: right;
	font-size: 11px;
}
.nickname {
	display: inline-block;
	color: #9B9B9B;
	font-weight: bold;
	margin-bottom: 8px;
}
.commentcon-time {
	width: 226px;
	position: relative;	
	background: url(../images/chat-white.png) no-repeat;
	background-size: 100% 100%;
	padding: 8.5px 23px 29px;
}
.replytcon-time {
	text-align: left;
	width: 226px;
	position: relative;	
	background: url(../images/chat-blue.png) no-repeat;
	background-size: 100% 100%;
	padding: 8.5px 23px 29px;
}
.commentcon {
	color:#303030 ;
	font-size: 13px;
}
.com-time,.recom-time {
	position: absolute;
	bottom: 4px;
	right: 23px;
	color: #959595;	
}
.more {
	text-align: center;
	padding: 8px 0;
}
.more a {	
	display: inline-block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #3f749b;
  	color: #303030;
	border-radius: 15px;
	font-size: 14px;
}
