<div class="active-conmes">
	<!--<div>活动详情</div>-->
<div class="header">
	<h3>
      <a routerLink="/activity" class="back"></a>
      <span>线下活动</span>
      <a href="#" class="share"></a>
    </h3>
</div>
<div class="detai-cnts">
	<div class="detai-cntss">
		<div class="actDetail-mes">
		<div class="actDetail-tit">{{activity.name}}</div>
		<div class="actDetail-con" [innerHtml]="activity.desc"></div>
	</div>
	<div class="actDetail-imgs ">
		<div class="actDetail-imgsCon clear">
			<div *ngFor="let image of activity.images" class="actDetail-img">
				<img [src]="image">
			</div>
		</div>

	</div>
	<div class="downs">
		<span class="con-downs"></span>
	</div>

	</div>
	<div class="activity-zhuban">
		<div class="zhuban-tit clear">
			<span class="zhuban-icon fl">
				<img src="../../assets/images/liwu.png"/>
			</span>
			<span class="zhuban-mes fl">
				活动信息
			</span>
			<span class="fr">
				报名人数：{{activity.hot}}
			</span>
		</div>
		<div>主办方:{{activity.sponsorName}}</div>
		<div>活动时间:{{activity.startTime | date:'yyyy-MM-dd'}}</div>
		<div>活动地点:{{activity.address}}</div>
		<div>活动费用:{{activity.price}}</div>
	</div>

	<comment-list target="activity" [targetId]="activity.id" [withReply]="true" styleType="activity"></comment-list>

	<div>客服</div>
	<div>
		<a routerLink="/activity/sign" [queryParams]="{id: activity.id}">报名</a>
	</div>
</div>

</div>
