<div [routerLink]="['/activity', activity.id]" >
	<div class="activitys-list">
		<img class="activity-img" [src]="activity.image">
		<img class="sponsor" [src]="activity.sponsorImage" />
		<div class="activity-bg"></div>
		<div class="activitys-mes">
			<div class="activity-tit">
				{{activity.name}}
			</div>
			<div class="activity-atime clear">
				<div class="activity-add fl">
					{{activity.city}}/
				</div>
				<div class="activity-stime fl">
					{{activity.startTime | date:'yyyy-MM-dd'}}
				</div>

			</div>
			<div class="activity-etime" *ngIf="showSignTip(activity)">
				<span [count-down]="activity.signEndTime" tip="距报名截止还有  "></span>
			</div>

		</div>
	</div>

</div>