<!--<div>活动列表!!</div>-->
<div class="cnts">
<swiper target="activity" [images]="topActivities"></swiper>

<div [infinite-scroll]="finishActivities" [dataService]="activityService" [pageInfo]="pageInfo" [condition]="condition">

  <!--<div>未结束</div>-->
  <div *ngFor="let activity of workingActivities">
    <activity-list-item [activity]="activity"></activity-list-item>
  </div>

  <!--<div>已结束</div>-->

  <div *ngFor="let activity of finishActivities">
    <activity-list-item [activity]="activity"></activity-list-item>
  </div>
</div>

</div>
