<div>活动详情</div>
<div>活动名称:{{activity.name}}</div>
<div [innerHtml]="activity.desc"></div>
<div *ngFor="let image of activity.images">
  <img [src]="image">
</div>
<div>参与人数{{activity.hot}}</div>
<div>主办方:{{activity.sponsorName}}</div>
<div>活动时间:{{activity.startTime | date:'yyyy-MM-dd'}}</div>
<div>活动地点:{{activity.address}}</div>
<div>活动费用:{{activity.price}}</div>

<comment-list target="activity" [targetId]="activity.id" [withReply]="true"></comment-list>

<div>客服</div>
<div>
  <a routerLink="/activity/sign" [queryParams]="{id: activity.id}">报名</a>
</div>
