<div id="wrapperDiv">
<div class="headBox">
	<div class="head">
		<h2>好多资讯</h2>
		<div class="head-right">
			<a href="javascript:void(0)" ng-click="showCategoryChoice = !showCategoryChoice" class="headsearch"></a>
		</div>
	</div>
</div>
<div class="cnt">
	<div class="cntxiala">
		<ul class="message-list" infinite-scroll="getNextPage()" mirage-scroll="articles" size="15">
			<a ng-repeat="article in articles" ui-sref="app.article.details({id: article.id, tag:currentTag.id})">
				<li>
					<div class="message-listimg">
						<img ng-src="{{article.image}}" />
					</div>
					<div class="message-txt">
						<h2>{{article.title}}</h2>
						<div class="message-type">
							<span class="message-sort" ng-repeat="tag in article.tagInfos">{{tag.name}}&nbsp;&nbsp;</span>
							<span class="message-sort">{{article.createdTime | hdcyArticleDate}}</span>
							<span class="message-num"><i></i>{{article.readCount}}</span>
						</div>
					</div>
			     </li>
            </a>
		</ul>
		<div class="messageLayer" ng-style="{display: showCategoryChoice?'block':'none'}">
			<div class="messagefix" ng-click="showCategoryChoice = !showCategoryChoice"></div>
			<ul class="messagelayerCnt">
				<li><a ng-click="changeTag()" ng-class="{'active': currentTag.id == ''}">全部</a></li>
				<li ng-repeat="tag in tags">
				    <a ng-click="changeTag(tag)" ng-class="{'active': currentTag.id==tag.id}">{{tag.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
