<div id="wrapperDiv">
<div class="headBox">
	<div class="head">
		<!-- <a href="javascript:void(0)" class="back" ng-click="closeWindow()"></a> -->
		<h2>好多视频</h2>
		<div class="head-right">
			<a href="javascript:void(0)" ng-click="showCategoryChoice = !showCategoryChoice" class="headsearch"></a>
		</div>
	</div>
</div>

<div class="cnt">
	<div class="device">
	   <div class="swiper-container">
		 <div class="swiper-wrapper" style="width: 1320px; height: 250px;">
		   <div class="swiper-slide red-slide swiper-slide-visible swiper-slide-active">
			 <img src="images/1.jpg" alt="" />
		   </div>
		   <div class="swiper-slide blue-slide swiper-slide-visible">
			   <img src="images/1.jpg" alt="" />
		   </div>
		   <div class="swiper-slide orange-slide">
			  <img src="images/1.jpg" alt="" />
		   </div>
		   <div class="swiper-slide blue-slide">
			  <img src="images/1.jpg" alt="" />
		   </div>
		   <div class="swiper-slide red-slide">
			  <img src="images/1.jpg" alt="" />
		   </div>
		 </div>
	   </div>
 </div>
	<div class="cntxiala">
		<ul class="video-list" infinite-scroll="getNextPage()" mirage-scroll="articles" size="15">
			<a ng-repeat="article in articles" ui-sref="app.article.details({id: article.id, tag:currentTag.id})">
				<li>
					<div class="video-listimg">
						<img ng-src="{{article.image}}" />
					</div>
					<div class="video-txt">
						<h2>{{article.title}}</h2>
						<div class="video-type">
							<span class="video-sort" ng-repeat="tag in article.tagInfos">{{tag.name}}&nbsp;&nbsp;</span>
							<span class="video-sort">{{article.createdTime | hdcyArticleDate}}</span>
							<!-- <span class="message-num"><i></i>{{article.readCount}}</span> -->
							<span class="message-num">{{article.readCount}}</span>
							<img src="images/content-icon-browse-default.png" alt="" />
						</div>
					</div>
			     </li>
            </a>
		</ul>
		<div class="messageLayer" ng-style="{display: showCategoryChoice?'block':'none'}">
			<div class="messagefix" ng-click="showCategoryChoice = !showCategoryChoice"></div>
			<ul class="messagelayerCnt">
				<li><a ng-click="changeTag()" ng-class="{'active': currentTag.id == ''}">全部</a></li>
				<li ng-repeat="tag in tags">
				    <a ng-click="changeTag(tag)" ng-class="{'active': currentTag.id==tag.id}">{{tag.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
	$(".cnt").width($("body").width());
	var mySwiper = new Swiper('.swiper-container',{
	    centeredSlides: true,//居中
	    slidesPerView: 1.5,
	    watchActiveIndex: true
  })

</script>
