<div class="header">
	<h3>
      <a routerLink="/about" class="back"></a>
      <span>联系我们</span>
    </h3>
</div>
<div class="contact" [style.min-height.px]="detailboxHeight">
	<ul>
		<h3>商务合作</h3>
		<li>邮箱：shangwuhezuo@haoduocheyou.com</li>
		<li>电话：18511463933</li>
	</ul>
	<ul>
		<h3>联系我们</h3>
		<li>邮箱：resumes@haoduocheyou.com</li>
		<li>北京总部：大兴区荣昌东街6号亦创智能机器人创新园</li>
		<li>西安分部：西安市高新区科技路48号创业广场C座</li>
	</ul>
	<ul>
		<h3>关注我们</h3>
		<li>微信公众号：好多车友（chetongdaohe）</li>
		<li>微博：好多车友</li>
	</ul>
</div>