<div class="header">
	<h3>
      <a routerLink="/about" class="back"></a>
      <span>关注我们</span>
    </h3>
</div>
<div class="focus" [style.height.px]="detailboxHeight">
	<div class="focus-tit">
		<div class="focus-tits">
			好多车友已入驻以下平台
		</div>
		<div class="focus-titss">
			搜索<span>“好多车友”</span>即可到达
		</div>
	</div>
	<ul class="pintaiList">
		<div class="ptaiList-tit clear">
			<img class="fl" src="../../assets/images/zimeiti.png" />
			<span class="pt-tittxt fl">自媒体平台</span>
		</div>
		<li class="pintaicon clear">
			<a>
				<img src="../../assets/images/yidian.png"/>
				一点资讯
			</a>
			<a >
				<img src="../../assets/images/souhu.png"/>
				搜狐
			</a>
			<a>
				<img src="../../assets/images/xinlang.png"/>
				新浪微博
			</a>			

		</li>
		<li class="pintaicon clear">
			<a >
				<img src="../../assets/images/kuaibao.png"/>
				天天快报
			</a>
			<a>
				<img src="../../assets/images/toutiao.png"/>
				今日头条
			</a>
		</li>
	</ul>
	<ul class="pintaiList">
		<div class="ptaiList-tit clear">
			<img class="fl" src="../../assets/images/zhibo.png" />
			<span class="pt-tittxt fl">直播平台</span>
		</div>
		<li class="pintaicon clear">
			<a>
				<img src="../../assets/images/qixiu.png"/>
				奇秀
			</a>
			<a >
				<img src="../../assets/images/lehai.png"/>
				乐嗨直播
			</a>
			
		</li>
		
	</ul>
	<ul class="pintaiList">
		<div class="ptaiList-tit clear">
			<img class="fl" src="../../assets/images/shipin.png" />
			<span class="pt-tittxt fl">视频平台</span>
		</div>
		<li class="pintaicon clear">
			<a>
				<img src="../../assets/images/youku.png"/>
				优酷
			</a>
			<a>
				<img src="../../assets/images/texun.png"/>
				腾讯视频
			</a>
		</li>
	</ul>

</div>