<div class="header">
	<h3>
      <a routerLink="/about" class="back"></a>
      <span>公司介绍</span>
    </h3>
</div>
<div class="company" [style.min-height.px]="detailboxHeight">
	<h2>北京好多车友网络科技有限公司</h2>
	<section>
		<p class="cfrist">
			“好多车友”致力于打造移动端中国最大车友交互媒体平台。“好多车友”以同名APP（苹果及安卓版）、微信服务号为主要载体，以专业意见领袖入驻、车生活资讯播报、车主社群建设、线上线下全国性车主互动、高频率福利发放为主要内容。通过原创媒体内容引导，满足车主用户场景社交刚需的同时，建立平台口碑与影响力。
		</p>
		<ul class="csecond">
			<li>盈利模式主要基于：</li>
			<li>1、B端商家在平台上的广告推广收费；</li>
			<li>2、“好多车友”主办及协办线上线下活动B端冠名等有偿收费； </li>
			<li>3、基于大数据收集与利用，为政府机构及大型厂家提供市场指导报；</li>
			<li>4、项目估值。项目自2016年2月立项后，已分批完成400万人民币天使融 资，并计划于2016年内完成800-1000万PRE-A轮，及3000万A轮融资2016年内，“好多车友”将完成8个主要城市分公司的建立，产品覆盖城市40个，C端受众200万，B端合作商家200家。</li>
		</ul>
	</section>
</div>