<div class="header">
	<h3>
      <a routerLink="/my" class="back"></a>
      <span>关于我们</span>
    </h3>
</div>
<ul class="aboutboxs" [style.height.px]="detailboxHeight">
	<li class="" routerLink="/about/company">
		<a routerLink="/about/company">公司介绍</a>
		<span routerLink="/about/company" class="about-right"></span>
	</li>
	<li class="" routerLink="/about/contact">
		<a routerLink="/about/contact">联系我们</a>
		<span routerLink="/about/contact" class="about-right"></span>
	</li>
	<li class="" routerLink="/about/focus">
		<a routerLink="/about/focus">关注我们</a>
		<span routerLink="/about/focus" class="about-right"></span>
	</li>
	<li class="" routerLink="/about/agreement">
		<a routerLink="/about/agreement">用户协议</a>
		<span routerLink="/about/agreement" class="about-right"></span>
	</li>
</ul>
