<div class="daka-box">
  <div class="header">
    <h3>
      <a routerLink="/leader" class="back"></a>
      <span>大咖详情</span>

    </h3>
  </div>
  <div class="daka-detail detai-cnts" [style.height.px]="detailboxHeight">
    <div class="dakade-tit">
      <div class="dakade-txt">
        <div class="dakade-Img fl">
          <img [src]="leader.image">
        </div>
        <div class="dakade-right fl">
          <div class="dakade-names">
          	<span class="dakade-name">{{leader.name}}</span>
          	<span class="dakalv">LV{{leader.level}}</span>
          </div>
          <div class="dakade-slogan">{{leader.slogan}}</div>
          <div class="dakde-tag" *ngFor="let tag of leader?.tags?.split(',')">{{tag}}</div>
        </div>
      </div>
    </div>
    <div class="daka-detaicon">
      <h3 class="daka-jianjie">个人简介</h3>
      <div [innerHtml]=leader.intro class="daka-contxt"></div>
    </div>
  </div>
</div>
<div class="guanzhu clear">
	<div class="guanzhu-logo fl">
		<div class="fouce-logo">
			<img src="../../assets/images/logos.png" />
		</div>
		<div class="fouce-imgtxt">
			<img src="../../assets/images/guanzhudes.png" />
		</div>
	</div>
	<div class="guanzhu-txt" (click)="focus(true)">
		<span>立即关注</span>
	</div>

</div>
<div class="chatcode" [ngStyle]="{'display': chatcode}">
	<div class="chatbg" (click)="focus(false)"></div>
	<div class="chat">
		<img src="../../assets/images/chat.png" />
	</div>
</div>

