.daka-navs a {
	display: inline-block;
	color: #8FAFCA;
	width: 125px;
	height: 40px;
	background: url(../../assets/images/dakanav.png) no-repeat;
	background-size: 100% 100%;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height: 40px;
}
.daka-navs a.active {
	background: url(../../assets/images/xuanze.png) no-repeat;
	background-size: 100% 100%;
	color: white;
	font-weight: bold;
}
.dakalist {
	background-color: rgb(27,50,68);
	padding-top: 8px;
	float: left;
	width: 375px;
}
.dakalist .daka-left,.dakalist .daka-right {
	float: left;
}
.daka-left,.daka-right {
	width: 50%;	
	height: 100px;
	
}
.daka-left {
	background: url(../../assets/images/leader-left.png) no-repeat;
	background-size: 100% 100%;
}
.daka-right {
	background: url(../../assets/images/leader-right.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.daka-left img {
	width: 100%;
	height: 100%;
}
.daka-txt {
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 12px;
}
.leader-tit {	
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 13px;	
}
.leader-slogan {	
	font-size: 11px;
}
.daka-box {
	width: 100%;
	height: 100%;
	background: #F3F3F3;
}
.dakade-tit {
	width: 375px;
	height: 190px;
	background: url(../../assets/images/daka-bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.dakade-txt {
	position: absolute;
	top: 60px;
	left: 30px;
	
}
.dakade-Img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}
.dakade-Img img {
	width: 100%;
	height: 100%;	
}
.dakade-right {
	margin-left: 12px;
}
.dakade-name {
	color: white;
	font-size: 17px;
	margin-bottom: 16px;
}
.dakade-slogan {
	color: #C8C8C8;
	font-size: 12px;
	margin-bottom: 18px;
}
.dakde-tag {
	background: #1F3B52;
	border-radius: 10px;
	color: #E0E0E0;
	font-size: 11px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	padding: 2px 9px;
}
.daka-detaicon {
	padding: 20px 12px 0;
	background: white;
	box-sizing: border-box;
}
.daka-jianjie {
	padding: 2px 0px 2px 7px;
	color:#303030 ;
	font-size: 15px;
	border-left: 3px solid #303030;
	
}

