<div class="myslides">
	<ks-swiper-container [options]="swiperOptions">
		<ks-swiper-slide *ngFor="let leader of topLeaders">
			<a [routerLink]="['/leader', leader.id]">
				<img class="activity-img" [src]="leader.image">
			</a>
		</ks-swiper-slide>
	</ks-swiper-container>
</div>
<div class="daka-navs">
	<a (click)="changeTag(0)" [class.active]="isActive(0)" >全部</a>
  <a (click)="changeTag(1)" [class.active]="isActive(1)" >个人</a>
  <a (click)="changeTag(2)" [class.active]="isActive(2)" >机构</a>
</div>
<div class="leaders">
	<div *ngFor="let leader of leaders; let i = index;" [routerLink]="['/leader', leader.id]" class="dakalist" >
		<div class="daka-left">
    		<img [src]="leader.image">
  		</div>
  		<div class="daka-right">
  			<div class="daka-txt">
  				<div class="leader-tit">{{i+leader.name}}</div>
  				<div class="leader-slogan">{{leader.slogan}}</div>
  			</div>
  		</div>
	</div>
</div>
