<div class="header">
	<h3>
      <a routerLink="/my" class="back"></a>
      <span>个人资料</span>
    </h3>
</div>
<ul class="boxs" [style.height.px]="detailboxHeight">
	<li>
		<span class="ziliao-tou">头像</span>
		<a  href="" class="my-right toua"></a>		
    	<img class="tou" [src]="user?.headimgurl">
	</li>
	<li>
		<span>昵称</span>
		<a class="my-right" (click)="edit('nicks')"></a>
		<span>{{user?.nickname}}</span>
	</li>
	<li>
		<span>姓名</span>
		<a  class="my-right" (click)="edit('names')"></a>
		<span>{{user?.realname}}</span>
	</li>
	<li>
		<span>性别</span>
		<span (click)="edit('sexs')">{{user?.sex | sex}}</span>
	</li>
	<li>
		<span>手机</span>
		<a  class="my-right" (click)="edit('tels')"></a>
		<span>{{user?.mobile}}</span>

	</li>
	<li>
		<span>出生年月</span>
		<a  class="my-right" (click)="edit('briths')"></a>
		<span>{{user?.birthday | date:'yyyy年MM月'}}</span>

	</li>
	<li>
		<span>所在地</span>
		<a  class="my-right" (click)="edit('addrs')"></a>
		<span>{{user?.province}} {{user?.city}}</span>

	</li>
	<li>
		<span class="cartys">车型</span>
		<a class="my-right" (click)="edit('cars')"></a>
		<span>{{user?.car}}</span>

	</li>

	<li>
		<span>兴趣</span>
		<a  class="my-right" (click)="edit('likes')"></a>
		<span>{{user?.tags}}</span>
	</li>
</ul>

<div class="editbg" [ngStyle]="{'display': editbg}" ></div>

<!--昵称编辑-->
<div class="nickname-edit" [style.display]="type == 'nicks'?'block':'none'">
	<h4>编辑昵称</h4>
	<div class="nicks">
		<input type="text" name=""  value={{user?.nickname}} />
		<span class="nickclose" (click)="clearnick()"></span>		
	</div>	
	<div class="nickbn clear">
		<span (click)="close()">取消</span>
		<span (click)="commitnick()">确定</span>
	</div>
</div>
<!--性别编辑-->
<div class="sexboxs" [style.display]="type == 'sexs'?'block':'none'">
	<div class="updata">修改性别</div>
	<ul>
	
	<li>男</li>
	<li>女</li>
</ul>
	<div class="cancel">
		<a >取消</a>
	</div>
</div>
<!--车型编辑-->
<div class="carboxs" [style.display]="type == 'cars'?'block':'none'">
	<div class="hot-car">
		<div class="car-close" (click)="close()"></div>
		<div class="hot-txt">热门</div>
		<div class="like-list clear" (click)="huoqu(even)">
			<a >宝马</a>
			<a >奥迪</a>
			<a >奔驰</a>
			<a >路虎</a>
			<a >保时捷</a>
			<a >本田</a>
			<a >北京现代</a>
			<a >比亚迪</a>
			<a >大众</a>
			<a >法拉利</a>
			<a >兰博基尼</a>
			<a >福特</a>
		</div>

	</div>
	<div class="types" (click)="huoqu(even)">
		<ul>
			<p class="types-list">A</p>
			<li>阿斯顿马丁</li>
			<li>阿尔法罗密欧丁</li>
			<li>奥迪</li>
			<li>安凯汽车</li>
		</ul>
		<ul>
			<p class="types-list">B</p>
			<li>宝马</li>
			<li>宾利</li>
			<li>比亚迪</li>
			<li>别克</li>
			<li>奔驰</li>
		</ul>
	</div>
</div>
<!--兴趣编辑-->
<div class="likeboxs" [style.display]="type == 'likes'?'block':'none'">
	<div class="car-close"  (click)="close()"></div>
	<div class="like-txt">
		选择您的喜好（最多4个）
	</div>
	<div class="like-list clear" >
			<a (click)="like0('likes0')" [class.actived]="tag == 'likes0'">竞速</a>
			<a >极限</a>
			<a >卡丁车</a>
			<a >GTR</a>
			<a >F1</a>
			<a >漂移</a>
			<a >改装</a>
			<a >遥控模型</a>
			<a >发烧友</a>
			<a >飙车党</a>
			<a >引擎控</a>
			<a >资深车手</a>
			<a >改装大神</a>
			<a >数据党</a>
			<a >其他</a>
		</div>

</div>
