<div class="cnts" [style.height.px]="cntsboxHeight" >
	<div class="mylist-up">
		<div class="head">
			<img [src]="user?.headimgurl" height="200" width="200">
		</div>
		<div class="nickname">
			昵称：{{user?.nickname}}
		</div>
		<div class="my-level">
			<span>等级:lv{{user?.level?user?.level:"1"}}</span>
			<span class="integral">积分:{{user?.point}}</span>
			<span>友豆:{{user?.beans}}</span>
		</div>

	</div>
	<ul class="my-listcon" [style.min-height.px]="myconHeight">
		<li>
			<a routerLink="/my/info">
				<img src="../../assets/images/my.png"/>
				<span>个人资料</span>
			</a>
		</li>
		<li>
			<a routerLink="/my/activity">
				<img src="../../assets/images/my-activity.png"/>
				<span>我的活动</span>
			</a>
		</li>
		<!--<li>
			<a routerLink="/gift">
				<img src="../../assets/images/gift.png"/>
				<span>礼品兑换</span>
			</a>
		</li>-->
		<li>
			<a routerLink="/about">
				<img src="../../assets/images/about.png"/>
				<span>关于我们</span>
			</a>
		</li>
		<!--<li>-->
			<!--<a >-->
				<!--<img src="../../assets/images/exit.png"/>-->
				<!--<span>退出登录</span>-->
			<!--</a>-->
		<!--</li>-->

	</ul>

</div>
