.mylist-up {
	width: 375px;
	height: 225px;
	background: url(../../assets/images/my-bg.png) no-repeat;
	background-size: 100% 100%;	
}
.head {
	text-align: center;
	padding-top: 35px;
}
.head img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.nickname {
	margin: 20px 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #FEFEFE;	
}
.my-level {
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
}
.integral {
	margin: 0 7px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 2px 8px;
}
.my-listcon {
	width: 375px;	
	background: url(../../assets/images/my-con.png) no-repeat;
	background-size: 100% 100%;
	padding: 1px 0 0px;
	
}
.my-listcon a {
	display:inline-block ;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.my-listcon li {
	text-align: center;
	height: 22px;
	overflow: hidden;
	padding-top: 48px;
}
.my-listcon a img{
	height: 20px;
	float: left;
}
.my-listcon a span{
	line-height: 20px;
	float: left;
	margin-left: 10px;
}
.boxs {
	background: #18212d;
	color: white;
	font-size: 16px;
}
.tou {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: right;
	margin-right: 12px;
}
.boxs li {
	padding: 18px 12px;
	overflow:hidden;
	box-sizing: border-box;
}
.boxs li:nth-of-type(odd) {
	width: 375px;
	background: url(../../assets/images/light.png) no-repeat;
	background-size: 100% 100%;
}
.boxs li:nth-of-type(even) {
	width: 375px;
	background: url(../../assets/images/deep.png) no-repeat;
	background-size: 100% 100%;
}
.boxs li span:nth-of-type(1) {
	float: left;
}
.boxs li span:nth-of-type(2) {
	float: right;
	margin-right: 12px;
}
.ziliao-tou {
	line-height: 50px;
}
.my-right {	
	width: 10px;
	height: 18px;
	background: url(../../assets/images/my-right.png) no-repeat;
	background-size: 100% 100%;
	float: right;
}
.toua {
	margin-top: 16px;
}
.gift-icon img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.activityboxs{
	background: #18212d;
    margin-top: 48px;
    overflow-y: auto;
}
.my-activity {
	width: 100%;
	padding: 7.5px 12px;
	background: url(../../assets/images/my-activitybg.png) no-repeat;
	background-size: 100% 100%;	
	box-sizing: border-box;
	margin-bottom: 8px;
}
.my-img {
	width: 110px;
	height: 80px;
}
.my-activitymes {
	margin-left: 16px;
	width: 225px;
	height: 70px;
    margin-top: 5px;
    position: relative;
}
.acti-name {
	color: white;
	font-size: 16px;
	word-break: break-all;
}
.acti-tag {
	color: #959595;
	font-size: 12px;
	position: absolute;
    bottom: 0px;
    width: 225px;	
}
/*车型*/
.carboxs,.likeboxs {
	display: none;
	background: #18212d;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 22222;
	color: white;
	font-size: 13px;
}
.hot-car {
	width: 100%;
	padding: 15px 12px 43px;
	background: rgb(34,63,86);
}
.car-close {
	width: 17px;
	height: 17px;
	background: url(../../assets/images/type-close.png) no-repeat;
	background-size: 100% 100%;	
}
.hot-txt {
	margin: 31px 0 20px;
}
.hot-carlist a ,.like-list a{
	display: inline-block;
	background: url(../../assets/images/type.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	width: 95px;
	height: 32px;
	color: white;
	font-size: 13px;
	padding: 10px 0;
	text-align: center;
	box-sizing: border-box;
	margin: 0 10px 8px 0;
	
}
.like-list a.actived {
	background: url(../../assets/images/type-press.png) no-repeat;
	background-size: 100% 100%;
}
.types {
	margin-top: -43px;
	padding-bottom: 10px;
}
.types-list {
	margin: 20px 12px 8px;
}
.types ul li {
	width: 100%;
	padding: 11px 12px;
}
.types ul li:nth-of-type(odd) {	
	background: url(../../assets/images/type-light.png) no-repeat;
	background-size: 100% 100%;	
}
.types ul li:nth-of-type(even) {	
	background: url(../../assets/images/type-deep.png) no-repeat;
	background-size: 100% 100%;	
}
.likeboxs {
	padding: 15px 48px 0 12px;
    box-sizing: border-box;
}
.like-txt {
	margin-top: 55px;
	margin-bottom: 20px;
}
