<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>KindEditor PHP</title>
	<link rel="stylesheet" href="css/reset.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="kindeditor/plugins/code/prettify.css" />
	<script charset="utf-8" src="kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="kindeditor/lang/zh_CN.js"></script>
	<script charset="utf-8" src="kindeditor/plugins/code/prettify.js"></script>
	
</head>
<style media="screen">
	.edit {

		width:700px;
		margin:50px auto;
		text-align: center;
	}
	
	
	.submit1 {
		color: #e95400;
		font-size: 16px;
		background-color: transparent;
		padding: 8px 20px;
		border: 1px solid #e95400;
		border-radius: 10px;
	}
</style>

<body>
		<div class="edit">
			
			<textarea class="contents" name="content1" style="width:700px;height:200px;visibility:hidden;"></textarea>
			<br />
			<input class="submit1" type="button" name="button" value="保存" />
		</div>	

</body>
<script src="js/jquery-2.2.3.min.js" charset="utf-8"></script>    
<script type="text/javascript">
$(function(){
	var editor1;
	KindEditor.ready(function(K) {
		editor1 = K.create('textarea[name="content1"]', {
			cssPath : 'kindeditor/plugins/code/prettify.css',
			uploadJson : 'kindeditor/php/upload_json.php',
			fileManagerJson : 'kindeditor/php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {
				var self = this;
				K.ctrl(document, 13, function() {
					self.sync();
					K('form[name=example]')[0].submit();
				});
				K.ctrl(self.edit.doc, 13, function() {
					self.sync();
					K('form[name=example]')[0].submit();
				});
			}
		});
		prettyPrint();
		
	});
	
	
        //获取传递过来的id值，和类别的id         
          function GetRequest() {        	
               var url = location.search; 
               var theRequest = new Object();
               if (url.indexOf("?") != -1) {
                   var str = url.substr(1);
                   strs = str.split("&");
                   for(var i = 0; i < strs.length; i ++) {
                       theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                   }
               }
               return theRequest;
           }
           var Request = new Object();
           Request = GetRequest();
           var id=Request.id;                 
           var jsonObj;       	                 
        // 发起网路请求  创建请求对象        
        var request = new XMLHttpRequest();        
        request.onreadystatechange = function () {
       		 if (request.readyState == 4 && request.status == 200) {         		
         		var jsonStr = request.responseText;
         		// 将json转为对象
        		jsonObj = JSON.parse(jsonStr);      		
        		        		       		
        		editor1.insertHtml(jsonObj.content);
       		 }
          };
          // 使用请求对象，创建请求
          request.open("get", "/admin2/article/"+id);
          // 发送请求
          request.send();  
          $(".submit1").on("click",function(){
        	  var content=editor1.html();
        	  jsonObj.content=content;
        	  
        	  var jsonObjs=JSON.stringify(jsonObj);
        	  
        	  $.ajax({
		            type: "put",
		            url: "/admin2/article/"+id,
		            data:jsonObjs,		            
		            dataType: "json",
		            contentType: "application/json; charset=utf-8",
		            success: function (obj) {
		            	alert("保存成功")
		            }
		        });       	  

          })
          
          
             

   	})
</script>
</html>
