<div class="header">
	<h3>
      <a routerLink="/my" class="back"></a>
      <span>礼品兑换</span>
    </h3>
</div>
<div class="boxs" [style.height.px]="detailboxHeight">
	<div *ngFor="let gift of gifts" [routerLink]="['/gift', gift.id]" class="giftlist">
		<div class="gift-icon">
			<img [src]="gift?.brandImage">
			<span>{{gift?.brand}}</span>
		</div>
		<div class="gift-img">
			<img [src]="gift?.images[0]">
		</div>
		<div class="gift-mes">
			<div class="gift-tit">{{gift?.name}}</div>
			<span>{{gift?.beans}}友豆	</span>
			<span class="stock">剩余{{gift?.stock}}个</span>			
		</div>
	</div>
</div>