<div class="header">
	<h3>
      <a routerLink="/gift" class="back"></a>
      <span>礼品详情</span>
    </h3>
</div>
<div class="boxss" [style.height.px]="detailboxHeight">
	<ks-swiper-container [options]="swiperOptions">
		<ks-swiper-slide *ngFor="let image of gift?.images" class="gifts">
			<img [src]="image">
			<div class="duihuan-mesbg"></div>
			<div class="duihuan">
				<span>{{gift?.beans}}友豆</span>
				<span>剩余{{gift?.stock}}个</span>
			</div>
		</ks-swiper-slide>
	</ks-swiper-container>
	<nav class="giftnav clear">
		<a (click)="changeTag('business')" [class.actived]="tag == 'business'">商家介绍</a>
		<a (click)="changeTag('commodity')" [class.actived]="tag == 'commodity'">商品介绍</a>
	</nav>
	<div class="giftmes-bg" [style.display]="tag == 'commodity'?'none':'block'">
		<div [innerHtml]="gift?.brandDesc"></div>
	</div>
	<div class="giftmes-bg" [style.display]="tag == 'business'?'none':'block'">
		<div [innerHtml]="gift?.desc"></div>
	</div>
	<div class="duihuanbg">
		<a (click)="exchange()">立即兑换</a>
	</div>

</div>