.boxs {
	background: #18212d;
	color: white;
	font-size: 16px;
	padding:0 12px 10px;
	box-sizing: border-box;
}
.giftlist {
	margin-top: 8px;
}
.gift-icon {
	background: url(../../assets/images/gift-icon.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	font-size: 15px;
	padding: 10px 0;
	height: 30px;
}
.gift-icon img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float:left;
	margin-left: 10px;
}
.gift-icon span {
	display: inline-block;
	line-height: 30px;
	float: left;
	margin-left: 12px;
}
.gift-img {
	width: 351px;
	height: 175px;
	
}
.gift-img img {
	width: 100%;
	height: 100%;
}
.gift-mes {
	width: 100%;
	padding: 15px 0 21px 34px;
	background: url(../../assets/images/gift-mesbg.png) no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
	font-size: 15px;
}
.gift-tit {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 22.5px;
}
.stock {
	padding: 0 56px;
	float: right;
	border-left: 2px solid #BBBBBB;	
}
.boxss {
	background: #18212d;
	margin-top: 48px;
	overflow-y: auto;
}
.gifts img {
	width: 375px;
	height: 200px;
}

.duihuan-mesbg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #000000;
	opacity: 0.3;
	
}
.duihuan {
	position: absolute;
    bottom: 0;    
    width: 100%;
    line-height: 40px;
    padding: 0 27px;
    box-sizing: border-box;
    color: #BBBBBB;
    font-size: 12px;
	
}
.duihuan span:nth-of-type(1){
	float: left;
}
.duihuan span:nth-of-type(2){
	float: right;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0px;
	line-height: 40px;
}
.giftnav a {
	background: url(../../assets/images/gift-nav.png) no-repeat;
	background-size: 100% 100%;
	width: 50%;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	color: #8FAFCA;
	float: left;
}
.giftnav a.actived {
	color: white;
	background: url(../../assets/images/gift-navhover.png) no-repeat;
	background-size: 100% 100%;
}
.giftmes-bg {
	color: white;
	padding: 8px 12px;
	margin-bottom: 40px;
}
.duihuanbg {
	width: 100%;
	height: 40px;
	background: url(../../assets/images/duihuan.png) no-repeat;
	background-size: 100% 100%;	
	position: fixed;
	bottom: 0;
	text-align: center;
}
.duihuanbg a {	
	display: inline-block;
	line-height: 40px;
	color: white;
	font-size: 18px;
}
