/* You can add global styles to this file, and also import other style files */

html,
body {
	width: 100%;
	height: 100%;
	background: #F3F3F3;
	overflow: hidden;
}


/*清除外边距*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,figure,/*结构元素*/dl,dt,dd,ul,
ol,li,/*列表元素*/fieldset,lengend,button,input,textarea,/*表单元素*/
th,td,/*表格元素*/

pre
/*文本格式元素*/

{
	margin: 0;
}


/*清除内边距*/

ul,
ol,
menu {
	padding: 0;
}


/*重置列表元素*/

ul,
ol {
	list-style: none;
}


/*将字体扶正*/

address,
cite,
dfn,
em,
var {
	font-style: normal;
}


/*清下划线*/

a {
	text-decoration: none;
	color: black;
}


/*鼠标略过a标签，显示下划线*/

a:hover {
	text-decoration: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}


/*清浮动*/

.clear:after {
	content: '';
	display: block;
	clear: both;
}

input,
textarea {
	outline: none;
	font-family: "microsoft yahei";
}

.box {
	width: 375px;
	height: 100%;
	margin: 0 auto;
}

.cnts {
	margin-top: 50px;
}

.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	opacity: 0.5;
	background: #FFFFFF;
}

.swiper-pagination-bullet-active {
	width: 14px;
	height: 6px;
	border-radius: 2px;
	background: white;
	opacity: 1;
}

.header,
.video-header {
	width: 375px;
	height: 48px;
	background: black;
	line-height: 48px;
	position: fixed;
	top: 0;
	z-index: 111;
}

.video-header {
	background: transparent;
}

.header h3,
.video-header h3 {
	color: white;
	text-align: center;
	font-size: 16px;
	position: relative;
	line-height: 48px;
}

.back {
	background: url("assets/images/back.png") no-repeat;
	left: 12px;
}

.message {
	background: url("assets/images/message.png") no-repeat;
	right: 12px;
}

.share {
	background: url("assets/images/share.png") no-repeat;
	right: 12px;
}

.activity-tit {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bolder;
}

.activity-atime {
	font-size: 15px;
	display: inline-block;
	word-break: break-word;
}

.back,
.message,
.share {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.commments .times,
.commments .relayList-le {
	display: none;
}

.commments .huifu,
.commments .nicktoname {
	color: #9B9B9B;
	font-size: 13px;
}
.commments .time {
	display: inline-block;
	color: #9B9B9B;
	font-size: 11px;
	margin-top: 8px;
}

.commments .commmentList-ri,
.commments .relayList {
	width: 305px;
}

.xxxxx .commmentList-ri,
.xxxxx .relayList {
	width: 305px;
}

.commments .timew,
.commments .huifuni,
.commment .relayitem {
	display: none;
}

.commments .nickname {
	color: #6593c5;
	font-size: 14px;
}
.video-descom .commments .nickname {
	color: #00FEFC;
}
.video-descom .commments .time {
	color: #DDDDDD;

}
.commments .commment-con li {
	padding: 10px 0 13px;
	border-bottom: 1px solid #e0e0e0;
}

.video-descom .commments .commment-con li {
	border-bottom: 1px solid transparent;
}
.video-descom .commments .commment-con {
	border-top: 1px solid transparent;
}
.video-descom .commments .commmentList-con,
.video-descom .commments .commmentList-cons {
	color: white;
}
.commments .comment-count h4 {
  padding-left: 5px;
  border-left: 3px solid #303030;
  padding: 2.5px 0 2.5px 12px;
  font-size: 15px;
}
.video-descom .commments .comment-count h4 {
	border-left: 3px solid white;
	color: white;
}
.commments .thumbs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: inline-block;
  width: 15px;
  height: 16px;
  background: url("./assets/images/thumbs.png") no-repeat;
  background-size: 100% 100%;
  right:20px;
}
.commments .thumbs-on {
  background: url("./assets/images/thumbs-on.png") no-repeat;
  background-size: 100% 100%;
}
.video-descom .thumbs {
  background: url(assets/images/throms.png) no-repeat;
  background-size: 100% 100%;
}
.video-descom .thumbs-on {
  background: url(assets/images/throms -active.png) no-repeat;
  background-size: 100% 100%;
}
.video-descom .com-num {
	color: white;
}
.xxxxx .commmentList-con {
	width: 180px;
	padding: 8.5px 23px 30px;
	background: url(assets/images/chat-white.png) no-repeat;
	background-size: 100% 100%;
}

.xxxxx .thumbs-count,.xxxxx .relayitem,.xxxxx .replays-jiao,.xxxxx .time {
	display: none;
}

.xxxxx .commmentList-cons {
	width: 180px;
	display: block;
	padding: 8.5px 23px 30px;
	background: url(assets/images/chat-blue.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 43px;
	margin-top: -13px;
}

.xxxxx .relayList-le,
.xxxxx .huifuni {
	float: right;
	margin: 4px 5px 0 0;
}

.xxxxx .relayList-le {
	display: inline-block;
}

.xxxxx .relayList {
	text-align: -webkit-right;
	margin-top: 10px;
}

.xxxxx .relayList-les {
	clear: both;
}

.xxxxx .timew,
.xxxxx .times {
	color: #9B9B9B;
	font-size: 11px;
	position: absolute;
	bottom: 3px;
	right: 23px;
}

.xxxxx .nickname,
.xxxxx .huifuni {
	color: #9B9B9B;
	font-size: 11px;
}

.sponsor {
	width: 75px;
	height: 25px;
	position: absolute;
	bottom: 12px;
	right: 12px;
	opacity: 0.6;
}

.leaders .dakalist:nth-of-type(odd) .daka-left,
.leaders .dakalist:nth-of-type(odd) .daka-right {
	float: left;
}

.leaders .dakalist:nth-of-type(even) .daka-left,
.leaders .dakalist:nth-of-type(even) .daka-right {
	float: right;
}

.video-com .commments {
	background: url(assets/images/txt-btn.png) no-repeat;
	background-size: 100% 100%;
}

.video-descom .commment-con {
	border-top: 1px solid transparent;
}


.daka-contxt {
	padding: 16px 0;
	font-size: 14px;
	line-height: 22px;
	color: #494949;
}
.boxs {
	margin-top: 48px;
	background: white;
}
.cnts,.boxs,.detai-cnts1 {
	overflow-y: auto;
}









/*临时放置swiper的样式*/

.myslides {
    background: #18212d;
    height: 225px;
}
.activity-slide .activity-img, .activity-slide .activity-bg{
	width: 299px;
	height: 225px;
}
.swiper-slide {
    text-align: center;
}

.swiper-slide .activity-img {
    width:299px;
    height: 225px;
}
.swiper-slide-next {
    text-align: right;
}
.swiper-slide-prev .activity-img ,.swiper-slide-next .activity-img,.swiper-slide-prev .swiper-txt ,.swiper-slide-next .swiper-txt {
    height: 190px;
    margin-top: 17.5px;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 12px;
    height: 6px;
    border-radius: 2px;
    background: white;
}
.sponsor {
    width: 75px;
    height: 25px;
    position: absolute;
    bottom: 7px;
    right: 12px;
    opacity: 0.6;
}
.swiper-txt {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 299px;
    height: 225px;
    background: #000000;
    opacity: 0.25;
    color: white;
}
.activitys-mes {
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    color: white;

}
.activity-tit {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.activity-atime {
    display: inline-block;
    font-size: 14px;
    display: inline-block;
    word-break: break-all;
}


