<div class="header">
	<h3>
      <a routerLink="/about" class="back"></a>
      <span>公司介绍</span>
    </h3>
</div>
<div class="company" [style.height.px]="detailboxHeight">
	<h2>北京好多车友网络科技有限公司</h2>
	<section>
		<p class="cfrist">
			 <span class="blod">好多车友·车友交互媒体</span>
		</p>
		<div class="cfrist">
			中国汽车运动领域新兴媒体，以移动端为主要载体。
			<div class="">
				1、通过线上趣味图文、创意视频等精致内容呈现
			</div>
			<div class="">
				2、线下对汽车运动直观的体验与参与
			</div>
		</div>		
		<p class="cfrist">			
推动汽车运动大众化、全民化、娱乐化，将汽车运动文化中“刺激”“活力”“激情”的精
神推广出去，形成一种专注的、挑战的、不断突破的生活态度、生活方式与生活理念。
		</p>
		
	</section>
</div>