<div class="header">
	<h3>
      <a routerLink="/about" class="back"></a>
      <span>公司介绍</span>
    </h3>
</div>
<div class="company" [style.height.px]="detailboxHeight">
	<h2>北京好多车友网络科技有限公司</h2>
	<section>		
		<div class="cfrist">
			<span class="blod">好多车友网</span>是中国最大汽车运动爱好者交互媒体平台，以移动端为主要载体。线上通过趣味图文、创意视频等形式呈现汽车运动精彩内容；线下推出大量可参与性活动与赛事，鼓励用户直观的体验与参与。
			
		</div>		
		<p class="cfrist">			
我们致力于推广汽车运动在中国的大众化、全民化、娱乐化进程。通过平台向用户诠释“刺激”、“活力”、“激情”的汽车运动精神，从而形成一种专注的、挑战的、不断突破的生活态度、生活方式与生活理念。
		</p>
		
	</section>
</div>