.article-navs {
    width: 100%;
    height: 40px;
    overflow-x: auto;
    font-size: 16px;
}

.article-nav a {
    display: inline-block;
    width: 93.75px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    background: url("./images/artnav.png");
    background-size: 100% 100%;
    color: #8FAFCA;
}
.article-nav a.active{
    background: url("./images/artnav-on.png");
    background-size: 100% 100%;
    color: white;
}
.content {
    background: #18212d;
}
.content li {
    margin-top: 8px;
}
.content li:nth-of-type(1) {
    margin-top: 0px;
}
.contentList {
    width: 375px;
    height:190px;
}
.contentList img {
    width: 100%;
    height:100%;
}
.contentTxt {
    background: url("./images/txt-btn.png");
    background-size: 100% 100%;
    padding: 20px 12px;
    color: #ffffff;
}
.contentTxt h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 25px;
    word-wrap: break-word;
    line-height: 22px;
}
.txt-tag {
    font-size:12px;
    color: rgb(187, 187, 187);
}
.txt-tag span {
    margin-right: 10px;
}
.ball-activity {
    display: inline-block;
    background-color: rgb(187, 187, 187);
    padding: 8px 15px;
    color: #303030;
    border-radius: 20px;
}
.tagLeft {
    float: left;
}
.tagRight {
    line-height: 34px;
    position: relative;
}

.txt-tag .eye {
    display: inline-block;
    width: 30px;
    height: 16.5px;
    background: url("./images/eye.png");
    background-size: 100% 100%;
    margin-right: 0;
    position: absolute;
    top:50%;
    left:-40px;
    transform: translateY(-50%);

}

.ads {
    position: relative;
    color: white;
}
.adsTit {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;

}
.ad-tag {
    position: absolute;
    left:12px;
    bottom: 34px;
}
.ads img {
    width: 375px;
    height:305px;
}

/*资讯详情*/
header {
    width:100%;
    height:50px;
    background: black;
    line-height: 50px;
}
header h3 {
    color: white;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.back {
    background: url("./images/back.png") no-repeat;
    left:12px;
}
.message {
    background: url("./images/message.png") no-repeat;
    right:60px;
}
.share {
    background: url("./images/share.png") no-repeat;
    right:12px;
}
.back,.message,.share {
    display: inline-block;
    width: 25px;
    height:25px;
    background-size: 100% 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.Detail-up {
    padding: 0 12px;
    height:80px;
    font-family: "PingFang Bold";
}
.article-title {
    font-size: 17px;
    margin:18px 0 15px;
    word-wrap: break-word;
}
.detail-tag {
    font-size: 12px;
    color: #959595;
}
.detail-tag span {
    margin-left: 12px;
}
.detail-tag1 {
    display: inline-block;
    border: 1px solid #303030;
    height: 16px;
    line-height:16px;
    text-align: center;
    border-radius: 8px;
    padding: 0 3px;
    color: #303030;
}
.detail-Img {
    width: 375px;
    height:225px;
}
.detail-Img img {
    width: 100%;
    height: 100%;
}
.Detail-down {
    background-color: #f3f3f3;
}
.artiDetail-con {
    padding: 10px 12px;
    background-color: white;
}
.commments {
    margin-top:10px;
    padding: 0px 12px 10px ;
    background-color: white;
}
.comment-count {
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 0;
}
.comment-count h4 {
    padding-left: 5px;
    font-size: 15px;
    border-left: 3px solid #303030;
}
.commment-con li {
    padding: 10px 0 13px;
    border-bottom: 1px solid #e0e0e0;
}
.commmentList-le {
    width: 35px;
    height:35px;
    border-radius: 50%;
}
.commmentList-le  img {
    width: 100%;
    height:100%;
}
.commmentList-ri {
    width: 305px;
    margin-left: 10px;
}
.commmentList-up {
    position: relative;
    margin-bottom: 10px;
}
.nickname {
    color:#6593c5;
    font-size: 15px;
}
.time {
    display: inline-block;
    color: #9B9B9B;
    font-size: 11px;
    margin-top: 8px;
}
.thumbs-count {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0px;
    font-size: 11px;
}
.thumbs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("./images/thumbs.png") no-repeat;
    background-size: 100% 100%;
    right:30px;
}
.commmentList-con {
    font-size: 17px;
    line-height: 20px;
}
.mores {
    text-align: center;
}
.more {
    display: inline-block;
    border: 1px solid #3f749b;
    width: 90px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 15px;
    margin:10px 0;
}
.artiDetail-con p{
    line-height: 20px;
}
