<div class="cnts" [style.height.px]="cntsboxHeight">
    <div class="article-navs">
        <div class="article-nav clear" [style.width.px]="tagWidth">
            <a (click)="changeTag(0)" [class.active]="isActive(0)">全部</a>
            <a *ngFor="let tag of tags" (click)="changeTag(tag.id)" [class.active]="isActive(tag.id)">{{tag.name}}</a>
        </div>

    </div>
    <ul id="contentUl" class="content" style="overflow-y:auto;" [style.height.px]="contentHeight"
        [infinite-scroll]="articles" [dataService]="articleService" [pageInfo]="pageInfo">
        <li *ngFor="let article of articles" (click)="navToDetail(article)">

            <div class="contentList" *ngIf="article.displayType == 'MIX'">
                <img [src]="article.image" alt=""/>
            </div>

            <div class="contentTxt" *ngIf="article.displayType == 'MIX'">
                <h2>{{article.title}}</h2>
                <div class="txt-tag clear">
                    <div class="fl tagLeft">
                        <span *ngIf="article.top">置顶</span>
                        <span *ngIf="article.business">广告</span>
                        <span class="ball-activity">{{article.tagInfos[0].name}}</span>
                        <span *ngIf="!article.top && !article.business">{{article.createdTime | articleDate}}</span>
                    </div>
                    <div class="fr tagRight" *ngIf="!article.business">
                        <span class="eye"></span>
                        <span class="eye-num">{{article.readCount + article.readCountPlus}}</span>
                    </div>
                </div>
            </div>
            <div class="ads" *ngIf="article.displayType == 'IMAGE'">
                <img [src]="article.image" alt=""/>
                <h2 class="adsTit">{{article.title}}</h2>
                <div class="ad-tags">
                    <span *ngIf="article.top" class="ad-tag">置顶</span>
                    <span *ngIf="article.business" class="ad-tag">广告</span>
                </div>
            </div>
           
        </li>
    </ul>
</div>
