<div class="box">
	<div class="header">
    <h3>
        <a routerLink="/article" [queryParams]="{tagId: fromTag}" class="back"></a>
        <span>资讯详情</span>
        <a routerLink="/comment" [queryParams]="{target: 'article', targetId: article.id}" class="message"></a>
        <a href="#" class="share"></a>
    </h3>
</div>
<div class="detai-cnts">
  <div class="Detail-up">
    <h1 class="article-title">{{article.title}}</h1>
    <div class="detail-tag">
      <span class="detail-tag1">{{article.tagName}}</span>
      <span>{{article.createdTime | date:'yyyy-MM-dd'}}</span>
      <span>{{article.principal}}</span>
    </div>
  </div>
  <div class="detail-Img">
    <img [src]="article.image" alt="" />
  </div>
  <div class="Detail-down">
    <div class="artiDetail-con" [innerHTML]="article.content"></div>
  </div>
</div>
<comment-list target="article" [targetId]="article.id"></comment-list>
<a href="#" class="comment-edit"></a>

</div>


