<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
        <link rel="stylesheet" href="../../css/reset.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/nav.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/article.css" media="screen" title="no title">
        <title></title>
        <style media="screen"></style>
    </head>
    <body>
        <div class="box">
            <header>
                <h3>
                    <a href="#" class="back"></a>
                    <span>资讯详情</span>
                    <a href="#" class="message"></a>
                    <a href="#" class="share"></a>
                </h3>
            </header>
            <div class="cnts">
                <div class="Detail-up">
                    <h1 class="article-title">奥迪新一代A5亮相巴黎车展 新老详细对比</h1>
                    <div class="detail-tag">
                        <span class="detail-tag1">全球活动</span>
                        <span>2016-09-30</span>
                        <span>好多车友</span>
                    </div>

                </div>
                <div class="detail-Img">
                    <img src="../../img/detail-icon1.png" alt="" />
                </div>
                <div class="Detail-down">
                    <div class="artiDetail-con">
                        <p>
                            A4 B9已经登场近年，A4L也已经国产上市，那么作为A4的衍生车型，奥迪A5（参配、图片、询价） 自然要紧跟脚步，就在巴黎车展上，新一代A5将带着全家来到你的面前，包括双门、掀背以及S版本。其中双门版本已经在美国亮相，而掀背版还只放出了官图。
                        </p>
                        <p>
                            A4 B9已经登场近年，A4L也已经国产上市，那么作为A4的衍生车型，奥迪A5（参配、图片、询价） 自然要紧跟脚步，就在巴黎车展上，新一代A5将带着全家来到你的面前，包括双门、掀背以及S版本。其中双门版本已经在美国亮相，而掀背版还只放出了官图。
                        </p>
                        <p>
                            A4 B9已经登场近年，A4L也已经国产上市，那么作为A4的衍生车型，奥迪A5（参配、图片、询价） 自然要紧跟脚步，就在巴黎车展上，新一代A5将带着全家来到你的面前，包括双门、掀背以及S版本。其中双门版本已经在美国亮相，而掀背版还只放出了官图。
                        </p>

                    </div>
                    <div class="commments">
                        <div class="comment-count">
                            <h4>评论(1234)</h4>
                        </div>
                        <ul class="commment-con">
                            <li class="clear">
                                <div class="commmentList-le fl">
                                    <img src="../../img/touxiang.png" alt="" />
                                </div>
                                <div class="commmentList-ri fl">
                                    <div class="commmentList-up clear ">
                                        <div class="fl">
                                            <span class="nickname">娘家牛排</span><br/>
                                            <time class="time">刚刚</time>
                                        </div>
                                        <div class="thumbs-count fl">
                                            <span class="thumbs"></span>
                                            <span>2042</span>
                                        </div>
                                    </div>
                                    <div class="commmentList-con">
                                        当全世界都在为特斯拉汽车的安全性操碎了心，特斯拉Model S又给特斯拉惹事了，
                                    </div>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="commmentList-le fl">
                                    <img src="../../img/touxiang.png" alt="" />
                                </div>
                                <div class="commmentList-ri fl">
                                    <div class="commmentList-up clear ">
                                        <div class="fl">
                                            <span class="nickname">娘家牛排</span><br/>
                                            <time class="time">08-21</time>
                                        </div>
                                        <div class="thumbs-count fl">
                                            <span class="thumbs thumbs-on"></span>
                                            <span>2042</span>
                                        </div>
                                    </div>
                                    <div class="commmentList-con">
                                        当全世界都在为特斯拉汽车的安全性操碎了心，特斯拉Model S又给特斯拉惹事了，
                                    </div>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="commmentList-le fl">
                                    <img src="../../img/touxiang.png" alt="" />
                                </div>
                                <div class="commmentList-ri fl">
                                    <div class="commmentList-up clear ">
                                        <div class="fl">
                                            <span class="nickname">娘家牛排</span><br/>
                                            <time class="time">07-21</time>
                                        </div>
                                        <div class="thumbs-count fl">
                                            <span class="thumbs"></span>
                                            <span>2042</span>
                                        </div>
                                    </div>
                                    <div class="commmentList-con">
                                        当全世界都在为特斯拉汽车的安全性操碎了心，特斯拉Model S又给特斯拉惹事了，
                                    </div>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="commmentList-le fl">
                                    <img src="../../img/touxiang.png" alt="" />
                                </div>
                                <div class="commmentList-ri fl">
                                    <div class="commmentList-up clear ">
                                        <div class="fl">
                                            <span class="nickname">娘家牛排</span><br/>
                                            <time class="time">06-23</time>
                                        </div>
                                        <div class="thumbs-count fl">
                                            <span class="thumbs"></span>
                                            <span>2042</span>
                                        </div>
                                    </div>
                                    <div class="commmentList-con">
                                        当全世界都在为特斯拉汽车的安全性操碎了心，特斯拉Model S又给特斯拉惹事了，
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="mores">
                            <a href="#" class="more">查看更多</a>
                        </div>
                    </div>
                </div>

            </div>
            <a href="#" class="comment-edit"></a>
        </div>

    </body>
    <script src="../../js/jquery-2.2.3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(".article-nav").width($(".article-nav span").length*93.75);
        $(".article-nav span").on("click",function(){
            $(".article-nav span").removeClass("artnav-on");
            $(".article-nav span").eq($(this).index()).addClass("artnav-on");

        })
        $(".commment-con .thumbs").on("click",function(){
            $(".thumbs").removeClass("thumbs-on");
            $(".thumbs").eq($(this).index(".commment-con .thumbs")).addClass("thumbs-on");
        })

    </script>
<html>
