<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="viewport" content="target-densitydpi=device-dpi,width=375, user-scalable=0" id="viewport">
        <meta content="width=device-width,width=375" name="viewport">
        <link rel="stylesheet" href="../../css/reset.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/layout.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/swiper-3.3.1.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="../../css/dropload.css" media="screen" title="no title">
        <title></title>
        <style media="screen"></style>
    </head>
    <body>
        <div class="box">
            <header>
                <nav class="clear">
                    <div class="fl">
                        <a href="#"><span>视频</span></a>
                        <a href="#"><span>资讯</span></a>
                        <a href="#"><span>活动</span></a>
                        <a href="#"><span>大咖</span></a>
                    </div>
                    <div class="fr">
                        <a href="#" class="nav-xin"></a>
                        <a href="#" class="nav-me"></a>
                    </div>

                </nav>
            </header>
            <div class="cnts">
                <div class="article-navs">
                    <div class="article-nav clear">
                        <span class="artnav-on">全部</span>
                        <span>车界百闻</span>
                        <span>全球活动</span>
                        <span>更多兴趣</span>
                        <span>关于我们</span>
                    </div>
                </div>
                <ul class="content">
                    <li>
                        <div class="contentList">
                            <img src="../../img/icon1.png" alt="" />
                        </div>
                        <div class="contentTxt">
                            <h2>从贫困小子到首富 究竟是哪些人改变了马云的人生？</h2>
                            <div class="txt-tag clear">
                                <div class="tagLeft">
                                    <span>置顶</span>
                                    <span>广告</span>

                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="contentList">
                            <img src="../../img/icon2.png" alt="" />
                        </div>
                        <div class="contentTxt">
                            <h2>此后，戴维与马云成了笔友。杜马选举备受关注，一个重要原因是</h2>
                            <div class="txt-tag clear">
                                <div class="fl tagLeft">
                                    <span>置顶</span>
                                    <span class="ball-activity">全球活动</span>
                                    <span>09-30</span>
                                </div>
                                <div class="fr tagRight">
                                    <span class="eyes"><span class="eye"></span></span>
                                    <span>56</span>
                                </div>

                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="contentList">
                            <img src="../../img/icon3.png" alt="" />
                        </div>
                        <div class="contentTxt">
                            <h2>此后，戴维与马云成了笔友。杜马选举备受关注，一个重要原因是</h2>
                            <div class="txt-tag clear">
                                <div class="tagLeft">
                                    <span>广告</span>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="ads">
                            <img src="../../img/icon4.png" alt="" />
                            <h2 class="adsTit">"膨胀"的苏州金龙</h2>
                            <span class="ad-tag">广告</span>
                        </div>

                    </li>
                    <li>
                        <div class="contentList">
                            <img src="../../img/icon5.png" alt="" />
                        </div>
                        <div class="contentTxt">
                            <h2>外界普遍认为今年63岁的普京将参加2018年3月的总统选举寻求再次连任。</h2>
                            <div class="txt-tag clear">
                                <div class="fl tagLeft">
                                    <span class="ball-activity">车界百闻</span>
                                    <span>09-30</span>
                                </div>
                                <div class="fr tagRight">
                                    <span class="eye"></span>
                                    <span>56</span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </body>
    <script src="../../js/jquery-2.2.3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(".article-nav").width($(".article-nav span").length*93.75);
        $(".article-nav span").on("click",function(){
            $(".article-nav span").removeClass("artnav-on");
            $(".article-nav span").eq($(this).index()).addClass("artnav-on");

        })

    </script>
<html>
