/* Master Styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "microsoft yahei";
    background: #FFFFFF;
    font-size: 12px;
}

li {
    list-style-type: none;
}
