html,body {
    overflow-x: hidden;
    overflow-y: auto;
}
.dakaList {
    width: 750px;
    margin: 0 auto;
}
.dakaSlider .swiper-slide img {
    width: 100%;
}
.dakaSlider .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.8);
}
.dakaSlider .swiper-pagination-bullet-active {
    background: white;
}
.daka {
    overflow: hidden;
    margin-bottom: 30px;
}
.daka a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 20%;
    margin:20px 2.5% 0;
}
.daka .item {
    border-radius: 50%;
    overflow: hidden;
}
.daka a img{
    width: 100%;
}
.details {
    width: 750px;
    margin: 0 auto;
}
.headers {
    width: 100%;
    height: 300px;
    background: rgb(0, 0, 0);
    position: relative;
}
.header {
    overflow: hidden;
    color: white;
    position: absolute;
    top:50%;
    transform: translate(20px,-50%);
    width: 100%;
}
.headerImg ,.headerTxt {
    float: left;
}
.headerImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.headerImg img {
    width: 100%;
    height: 100%;
}
.headerTxt {
    padding: 15px 0 0 10px;
    font-size: 35px;
    width: 85%;
}
.dakaCon {
    padding: 20px 25px;
}
.dakaTit {
    height: 35px;
    margin-bottom: 35px;
    line-height: 35px;
    border-left: 3px solid #fd7400;
    padding-left: 7px;
    color:  #fd7400;
    font-size: 35px;
}
.dakaText {
    font-size: 33px;
    line-height: 48px;
    padding-bottom: 30px;
}
.backs {
    background: black;
    padding: 16px;
    margin-bottom: -2px;
}
.back {
    display: inline-block;
    width:30px;
    height:54px;
    background: url("../img/back.png") no-repeat;
    background-size: 100% 100%;
}
