html,body {
    width: 100%;

}
.giftBox {
    width: 750px;
    margin: 0 auto;
}
.giftUp .swiper-slide img {
    width: 100%;
}
.giftUp .swiper-pagination-bullet  {
    background: rgba(255, 255, 255, 0.5);
}
.giftUp .swiper-pagination-bullet-active {
    background: white;
}

.giftMid {
    padding-bottom: 5px;

}
.giftTit {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 25px;
    background: #FFFFFF;
}
.giftTit span {
    height: 20px;
    line-height: 20px;
    border-left: 3px solid #fd7400;
    padding-left: 7px;
}
.jifen {
    color: rgb(155,155,155);
    background: white;
    overflow: hidden;
    padding: 15px;
    font-size:20px;
}
.jifenLeft,.jifenRight {
    display: inline-block;
    width: 50%;
    float: left;
}
.jifenLeft i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/jifen-04.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.jifenRight i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/jifen-05.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.giftShu{
    display: inline-block;
    position: absolute;
}
.giftCon {
    padding:10px;
    font-size:25px;
}
.giftCon p {
    word-wrap: break-word;
}

.hd-addbtn {
    height: 80px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    font-size: 30px;
    
}
.hd-addbtn a{
    display: block;
    height: 80px;
    background: #fd7400;
    line-height: 80px;
    color: #ffffff;
    text-align: center;
}
.jifenBuzu {
    position: absolute;
    height: 80px;
    top: 0px;
    color: white;
    line-height: 80px;
    width: 50%;
    left: 50%;
    margin-top: 2px;
    margin-left: -25%;
    text-align: center;
    background:#fd7400 ;
    display: none;
   font-size:30px;

}
.jifenBuzu i {
    display: inline-block;
    background: url("../img/alert.png") no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    margin: 7px;
    margin-top:21px;
    margin-left: -30px;
}
.jifenBuzu span {
    position: absolute;
}
