<div class="menuBox1" [hidden]="!showFooter">
    <ul class="bottomBtn">
        <li>
            <a routerLink="/video" routerLinkActive="btnOn" >
                <i class="menu-ico4"></i>
                <div class="">视频</div>
            </a>
        </li>

        <li>
            <a routerLink="/article" routerLinkActive="btnOn">
                <i class="menu-ico1"></i>
                <div class="">资讯</div>
            </a>
        </li>
        <li>
            <a routerLink="/participation" routerLinkActive="btnOn">
                <i class="menu-ico3"></i>
                <div class="">活动</div>
            </a>
        </li>

        <li>
            <a routerLink="/my" routerLinkActive="btnOn">
                <i class="menu-ico2"></i>
                <div class="">我的</div>
            </a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>