<div class="menuBox1" [hidden]="!showFooter">
    <ul class="bottomBtn">
        <li>
            <a (click)="navigate('video')" [class.btnOn]="currentTab === 'video'">
                <i class="menu-ico4"></i>
                <div class="">视频</div>
            </a>
        </li>

        <li>
            <a (click)="navigate('article')" [class.btnOn]="currentTab === 'article'">
                <i class="menu-ico1"></i>
                <div class="">资讯</div>
            </a>
        </li>
        <li>
            <a (click)="navigate('participation')" [class.btnOn]="currentTab === 'participation'">
                <i class="menu-ico3"></i>
                <div class="">活动</div>
            </a>
        </li>

        <li>
            <a (click)="navigate('my')" [class.btnOn]="currentTab === 'my'">
                <i class="menu-ico2"></i>
                <div class="">我的</div>
            </a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>