<div class="cnts">
    <div class="video-listcon" style="overflow-y:auto;">
        <div class="myslides">
            <ks-swiper-container [options]="swiperOptions">
                <ks-swiper-slide *ngFor="let video of topVideos">
                    <a (click)="navToDetail(video)">
                        <img class="activity-img" src="{{video.image}}">
                        <div class="swiper-txt">{{video.name}}</div>
                        <div class="activitys-mes">
                            <span *ngIf="!video.live">
                                <span *ngIf="!video.replay">#视频#</span>
                                <span *ngIf="video.replay">#回放#</span>
                            </span>
                            <span *ngIf="video.live">#{{video.liveState}}#</span>
                            <span *ngIf="video.liveState == '预告'"> / <span [count-down]="video.startTime" tip="距离直播开始还有 "></span></span>
                        </div>
                    </a>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>

        <div>
            <div *ngFor="let video of videos" (click)="navToDetail(video)">
                <div class="videolist">
                    <img [src]="video.image">
                    <div class="videobg"></div>
                    <div class="videotxt">
                        <div class="videotit">
                            {{video.name}}
                        </div>
                        <div class="videostyle">
                            <span *ngIf="!video.live">
                                <span *ngIf="!video.replay">#视频#</span>
                                <span *ngIf="video.replay">#回放#</span>
                            </span>
                            <span *ngIf="video.live">#{{video.liveState}}#</span>
                            <span *ngIf="video.liveState == '预告'"> / <span [count-down]="video.startTime" tip="距离直播开始还有 "></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

