.videolist {
	position: relative;
	width: 375px;
	height: 225px;
}
.videolist img{
	width: 100%;
	height: 100%;
}
.videotxt {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: white;
}
.videotit {
	font-size: 18px;
	font-weight: bold;
	word-break: break-word;
}
.videobg {
	position: absolute;
	top: 0;
	left: 0;
	width: 375px;
	height: 225px;
	background: #000000;
	opacity: 0.25;
}
.videostyle {
	margin-top: 19px;
	font-size: 15px;
}
.video-descom {
	background: rgb(27,50,68);
}

.video-descs {
	color: white;
	padding: 12px 12px 0;
	background: url(../../assets/images/txt-btn.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 8px;
}

.video-destit {
	border-left: 3px solid white;
	padding: 2.5px 0 2.5px 12px;
	font-size: 15px;
}
.video-desc {
	padding: 19.5px;
	font-size: 14px;
	line-height: 21px;
	word-break: break-word;
}
.video-com .commments {
	background: url(../../assets/images/txt-btn.png) no-repeat;
	background-size: 100% 100%;
}
.zhibo {
    position: relative;
}
/*.zhiiboa-video {
    width: 100%;
    height: 250px;   
}*/

.zhibo-txt {
    position: absolute;
    padding:0 12px 12px;
    bottom: 0;
    font-size: 14px;
    color: #00FEFC;
	width: 100%;
}
.videotime-img {
	width: 13px;
	margin-top: 2.5px;
	margin-right: 5px;
}
.zhibo-tit {
    color: white;
    margin-left: 34px;
}
.videoTime-txt {
    margin: 12px 0 24px;
    height: 22px;
    line-height: 22px;
    position: relative;
}
.time-img {
    width: 22px;
    height: 22px;
}
.video-time {
    display: inline-block;
    line-height: 22px;
    position: absolute;
    width: 100%;
}
.zhibo-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   	overflow: hidden;
}
.zhibo-icon img {
	width: 100%;
	height: 100%;
}
.video-name {
    position:relative;
    height:30px;

}
.video-name1 {
    position: absolute;
    line-height: 30px;
    margin-left: 12px;
}
/*预告*/
.yugao-bg {
	width: 375px;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	opacity: 0.25;
}
.yugao {
	width: 375px;
	height: 250px;
}
.yugao img {
	width: 100%;
	height: 100%;
}
.yugao-nav a {
	display: inline-block;
	width: 187.5px;
	height: 40px;
	background: url(../../assets/images/artnav.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	line-height: 40px;
	font-size: 15px;
	color: #8FAFCA;
	text-align: center;
}
.yugao-nav a.actived {
	display: inline-block;
	color: white;
	background: url(assets/images/xuanze.png) no-repeat;
	background-size: 100% 100%;
}
.zbjianjie {
	padding: 19px 12px;
}

.zbjiaoliu {
	display: none;
}