<div class="cnts" [style.height.px]="cntsboxHeight" [infinite-scroll]="videos"
      [dataService]="videoService" [pageInfo]="pageInfo">
    <div class="video-listcon" >
        <div class="myslides">
            <ks-swiper-container [options]="swiperOptions">
                <ks-swiper-slide *ngFor="let video of topVideos">
                    <a (click)="navToDetail(video)">
                        <img class="activity-img" src="{{video.image}}">
                        <div class="swiper-bg"></div>
                        <div class="activitys-mes">
                        	<div class="videotit">{{video.name}}</div>
                            <span *ngIf="!video.live">
                                <span *ngIf="!video.replay">#视频#</span>
                                <span *ngIf="video.replay">#回放#</span>
                            </span>
                            
                            <span *ngIf="video.live">#{{video.liveState}}#</span>
                            <span *ngIf="video.liveState == '预告'"> / <span [count-down]="video.startTime" tip="距离直播开始还有 "></span></span>
                        </div>
                    </a>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>	
				
        <div>
            <div *ngFor="let video of videos" (click)="navToDetail(video)">
                <div class="videolist">
                    <img [src]="video.image">
                    <div class="videobg"></div>
                    <div class="videotxt">
                        <div class="videotit">
                            {{video.name}}
                        </div>
                        <div class="videostyle">
                            <span *ngIf="!video.live">
                                <span *ngIf="!video.replay">#视频#</span>
                                <span *ngIf="video.replay">#回放#</span>
                            </span>
                            <span *ngIf="video.live">#{{video.liveState}}#</span>
                            <span *ngIf="video.liveState == '预告'"> / <span [count-down]="video.startTime" tip="距离直播开始还有 "></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="pages">
	<div class="pages1 clear">
		<span class="page1 prev" data="1" (click)="prev(num)">上一页</span>
		<div class="pagess fl">
			<div class="pagescon" [style.width.px]="tagWidths">
				<span class="page" *ngFor="let page of totalvideos" (click)="pages(page)" [class.active]="isActive(page)" >{{page}}</span>
			</div>
		</div>
		<span class="page1 next" data="1" (click)="next()">下一页</span>
	</div>	
</div>


