<div class="video-header">
	<h3>
        <a routerLink="/video" [queryParams]="{tagId: fromTag}" class="back"></a>
        <span>{{video.name}}</span>        	
        <a href="#" class="share"></a>
    </h3>
</div>
<div [innerHtml]="videoFrame"></div>
<div class="video-descom">
	<div class="video-descs">
		<h3 class="video-destit">简介</h3>
		<div class="video-desc" [innerHTML]="video.desc"></div>
	</div>
	<comment-list [withReply]="true" [targetId]="video.id" target="video" class="video-com"></comment-list>
</div>